
@{
    ViewBag.Title = "Forms";
    Layout = "~/Areas/CUCollegeAdminPanel/Views/Shared/_CUCollegeAdminPanelLayout.cshtml";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUCollegeAdminPanel"})">Home</a>
            </li>
            <li class="active">Course Wise</li>
        </ul>
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Examination Forms
            </h2>*@
    </div>
    <div class="col-md-4"></div>
}
<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Course Wise
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Student
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <form class="form-inline" action="@Url.Action("SubjectWise","Result")" id="std-comb-list">
                        <input type="hidden" data-column="AcceptCollege_ID" data-operator="EqualTo" class="jsfilterelement" value="@CUSrinagar.Models.AppUserHelper.College_ID" />
                        <div class="form-group">
                            <label>Batch</label><br />
                            <div class="jsDDLContainer">
                                <select id="BatchDDL" class="jsfilterelement form-control" data-column="SemesterBatch" data-operator="EqualTo" data-scope="row1">
                                    @for (int i = DateTime.Now.Year; i >= 2017; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Programme</label><span class="red">*</span><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("Programme", new SelectList(ViewBag.Programmes, "Value", "Text"), "--select--", new { @class = "chosen-select required jsfilterelement form-control jsProgrammeDDL", @data_column = "Programme", @data_operator = "EqualTo", @data_tablealias = "", @data_scope = "row1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Course</label> <br />
                            <div class="jsDDLContainer wd-150">
                                @Html.DropDownList("Course", new SelectList(ViewBag.Courses, "Value", "Text"), "--Select--", new
                                {
                                    @class = "chosen-select form-control jsfilterelement jsCourseDDL",
                               @data_column = "Course_ID",
                                    @data_operator = "EqualTo",
                                    @data_defaulttextvalue = "--Select--,",
                                    @data_tablealias = "VWSCMasterCompact",
                                    @data_scope = "row1"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Semester</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("Semester", new SelectList(ViewBag.Semesters, "Value", "Text"), "-All-", new { @class = "jsfilterelement chosen-select jsSemesterDDL", @data_column = "Semester", @data_operator = "EqualTo", @data_defaulttextvalue = "-All-,", @data_tablealias = "COMB", @data_scope = "row1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Combination</label><br />
                            <div class="jsDDLContainer wd-400">
                                <select class="jsfilterelement chosen-select jsCombinationDDL" data-column="Combination_ID" data-operator="EqualTo" data-tablealias="COMB" data-defaulttextvalue="--Select--," data-scope="row1" id="Combination">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Subject</label><br />
                            <div class="jsDDLContainer wd-250">
                                <select class="jsfilterelement chosen-select jsVWSCSubjectDDL" data-column="Subject_ID" data-operator="EqualTo" data-defaulttextvalue="--Select--," data-scope="row1">
                                    <option value="">--Select--</option>
                                </select>
                                @*<select class="jsfilterelement multiselect jsVWSCSubjectDDL" data-column="Subject_ID" data-operator="In" multiple="" data-defaulttextvalue="--Select--," data-scope="row1">
                                        <option value="">--Select--</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Comb Status</label><br />
                            <div class="jsDDLContainer">
                                <select class="jsfilterelement  chosen-select" data-column="IsVerified" data-operator="EqualTo" data-defaulttextvalue="--Select--," data-scope="row1">
                                    <option value="">--All--</option>
                                    <option value="1">Verified</option>
                                    <option value="0">Not-Verfied</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label>Status</label><br />
                                <div class="jsDDLContainer">
                                    <select class="jsfilterelement  chosen-select" data-column="FormStatus" data-operator="EqualTo" data-defaulttextvalue="--Select--," data-scope="row1">
                                        <option value="@((short)CUSrinagar.Enums.FormStatus.Selected)">Selected</option>
                                        <option value="">--All--</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label>Registration Number</label><br />
                            <input type="text" placeholder="CUS Regs No." class="form-control jsfilterelement" data-column="CUSRegistrationNo,StudentFormNo" data-operator="EqualTo" data-scope="row1" />
                        </div>
                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                                    Action
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-default dropdown-info">
                                    @*<li><a href="javascript:void(0)" id="jsShowBatchUpdateListItem" title="change current semester combination">Update Comb</a></li>
                                        <li class="divider"></li>*@
                                    <li><a href="javascript:void(0)" id="jsShowBatchUpdateNextSemsterCombListItem" title="change current semester & combination">Bulk Update Combination</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" id="jsToggleVerifyCombination" title="Toggle between verify and not-verify subject combination">Bulk Toggle Verify Combination</a></li>

                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" data-url="@Url.Action("StudentListCSV", "AssignCombination", new { area = "CUCollegeAdminPanel" })" id="" class="js-exportToCSV" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG" style="width:100%">Download Excel</a></li>
                                    <li><a href="javascript:void(0)" data-url="@Url.Action("StudentListPDF", "AssignCombination", new { area = "CUCollegeAdminPanel" })" id="" class="js-exportToCSV" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG" style="width:100%">Download PDF</a></li>

                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url='@Url.Action("FormListPartial","AssignCombination",new { area = "CUCollegeAdminPanel"})' data-DefaultOrderByColumn="StudentFormNo" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>

@*MODAL DIALOG START*@
<div class="modal" id="BatchUpdateCourseWiseDailog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-650">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Batch Update</h4>
            </div>
            <div class="modal-body padding-0-10">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="wd-35">
                                <input class="ace checkbox checkbox-inline jsBatchChkBox" type="checkbox"><span class="lbl"></span>
                            </td>
                            <td class="wd-200">
                                Assign Combination
                            </td>
                            <td>
                                <div id="CombinationContainer" class="wd-400 jsDDLContainer">
                                    <select class="jsfilterelement chosen-select jsCombinationDDL" data-scope="row1" data-defaulttextvalue="--Select--,">
                                        <option value="">     --    Select    --    </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="jsBatchUpdateCourseWiseListBtn">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*MODAL DIALOG END*@

@*MODAL DIALOG START*@
<div class="modal" id="BatchUpdateNextSemCombDailog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-650">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Batch Update next semester and its combonation</h4>
            </div>
            <div class="modal-body padding-0-10">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="wd-35">
                                <input type="hidden" value="" data-column="Programme" data-operator="EqualTo" data-scope="batch-next-sem-row1" class="jsProgrammeDDL" />
                                <input type="hidden" value="" data-column="Course_ID" data-operator="EqualTo" data-scope="batch-next-sem-row1" class="jsCourseDDL" />
                                <input type="hidden" value="@CUSrinagar.Models.AppUserHelper.College_ID" data-column="College_ID" class="jsCollegeDDL" data-operator="EqualTo" data-scope="batch-next-sem-row1" />

                                <input class="ace checkbox checkbox-inline jsBatchChkBox" type="checkbox"><span class="lbl"></span>
                            </td>
                            <td class="wd-200">
                                Semester
                            </td>
                            <td>
                                <div id="" class="">
                                    <div class="wd-400 jsDDLContainer">
                                        @Html.DropDownList("BatchNextSemester", new SelectList(ViewBag.Semesters, "Value", "Text"), "-- choose semester --",
                                       new { @class = "jsfilterelement chosen-select  jsSemesterDDL", @data_column = "Semester", @data_operator = "EqualTo", @data_defaulttextvalue = "-- choose semester --,", @data_tablealias = "COMB", @data_scope = "batch-next-sem-row1" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="wd-35">
                                <input class="ace checkbox checkbox-inline jsBatchChkBox" type="checkbox"><span class="lbl"></span>
                            </td>
                            <td class="wd-200">
                                Assign Combination
                            </td>
                            <td>
                                <div id="CombinationContainer" class="">
                                    <div class="wd-400 jsDDLContainer">
                                        <select class="jsfilterelement chosen-select jsCombinationDDL" data-scope="batch-next-sem-row1" data-defaulttextvalue="-- choose combination --,">
                                            <option value="">-- choose combination --</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="jsBatchUpdateNextSemCombDailogBtn">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*MODAL DIALOG END*@


@section PageSpecificJS{
    <script src="~/Content/ThemeAdmin/Content/Scripts/Pages/assign-combination.js"></script>
}
