@model  CUSrinagar.Models.ADMCollegeMaster
@{
    var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
    string actionName = "";
    if (routeValues != null)
    {
        if (routeValues.ContainsKey("controller"))
        {
            actionName = routeValues["action"].ToString();
        }
    }
    bool IsEdit = false;
    if (actionName == "Edit")
    { IsEdit = true; }

    string currentYear = DateTime.Now.Year + "";
}
@Html.AntiForgeryToken()

@if (!ViewData.ModelState.IsValidField("ErrorMessage"))
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@Html.ValidationMessage("ErrorMessage", "", new { @class = "red " })</strong>
    </div>

}
<div class="col-sm-12">
    @Html.ValidationMessageFor(model => model.College_ID, "", new { @class = "label label-sm label-danger arrowed-in-right arrowed" })

</div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">
        <span class="red bigger-110">*</span> @Html.LabelFor(model => model.CollegeCode)

    </label>
    <div class="col-sm-6 ">

        @Html.TextBoxFor(model => model.CollegeFullName, new { @class = "width-100", @maxlength = "35" })


    </div>
    <div class="col-sm-2">
        @Html.ValidationMessageFor(model => model.CollegeFullName, "", new { @class = "label label-sm label-danger arrowed-in-right arrowed" })

    </div>
</div>
 




