@model  CUSrinagar.Models.AppUsers
@{
    ViewBag.Title = "CUS :: Edit User";

}
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title"><i class='menu-icon fa fa-pencil-square-o'></i>Edit User</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    @using (Html.BeginForm("Edit", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data", @name = "validation-form", @id = "validation-form", @class = "form-horizontal", @role = "form" }))
                    {  
                        @Html.HiddenFor(model => model.College_ID);
                        @Html.HiddenFor(model => model.User_ID);
                        @Html.Partial("_CreateOrEdit", Model)
                        @*@Html.Partial("SubjectSection", Model);*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var childpath = '@Url.Action("_GetChildDDL", "UserProfile", new { area = "CUCollegeAdminPanel" })';
    var subjectpath=  '@Url.Action("SubjectSection", "UserProfile", new { area = "CUCollegeAdminPanel" })';
</script>
@section PageSpecificJSFiles{
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/JSGeneral/GeneralJS.js")"></script>
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/JSUsers/CreateOREdit.js")"></script>

}






