@model CUSrinagar.Models.Grievance

@{
    ViewBag.Title = "Confirmation - ";
}

<div class="page-content">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-success">Confirmation</h2>
            <hr />
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>An OTP has been sent to your E-Mail: <b><u> @Model.Email</u></b> </h4>
                        <h5>Please check your E-Mail for the OTP and enter the code below.</h5>
                        <hr />
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">FullName</label>
                            <div class="col-sm-9">
                                @Html.DisplayFor(item => item.FullName)
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-9">
                                @Html.DisplayFor(item => item.Subject)
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-9">
                                @Html.DisplayFor(item => item.Message)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Enter OTP Code here</label>
                            <div class="col-sm-9">
                                @using (Html.BeginForm("OTPConfirmation", "Grievance", FormMethod.Post, new { @class = "jsMainForm form-inline" }))
                                    {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Grievance_ID", Model.Grievance_ID)
                                    <div class="form-group">
                                        @*<label for="OTP">OTP</label>*@
                                        @Html.TextBox("OTP", null, new { @placeholder = "Enter otp", @class = "form-control", @required = "required", @autocomplete = "off"})

                                    </div>
                                    <button type="submit" class="btn btn-primary">Verify OTP</button>
                                    }
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section PageSpecificJSFiles{
    @Scripts.Render("~/bundles/Libraries/jqueryvalidation")
}