@{
    ViewBag.Title = "Course Statistics";
}

@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUCollegeAdminPanel"})">Home</a>
            </li>
            <li class="active">Course Wise Statistics</li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2 class="no-margins">
            
        </h2>
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Statistics
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Student
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <div class="col-sm-10">
                        <div class="form-inline col-sm-12">
                            <div class="form-group">
                                <label>Filters</label>
                                @Html.DropDownList("Batch", CUSrinagar.Extensions.Helper.GetYearsDDL(), null, 
                               new { @class = "jsfilterelement required", @data_column = "SemesterBatch", @data_operator = "EqualTo" })
                            </div>

                            <div class="form-group">
                                @Html.DropDownList("PrintProgramme", new SelectList(ViewBag.PrintProgrammes, "Value", "Text", (short)CUSrinagar.Enums.PrintProgramme.UG), null,
                                           new
                                           {
                                               @class = "",
                                               @data_column = "Programme",
                                               @data_operator = "EqualTo"
                                           })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("Semester", new SelectList(ViewBag.Semesters, "Value", "Text", (short)CUSrinagar.Enums.PrintProgramme.UG), null,
                                          new
                                          {
                                              @class = "jsfilterelement",
                                              @data_column = "Semester",
                                              @data_operator = "EqualTo"
                                          })
                                @*<select class="jsfilterelement" data-column="Semester" data-operator="EqualTo">
                                        <option value="1">Semester-I</option>
                                        <option value="2">Semester-II</option>
                                        <option value="3">Semester-III</option>
                                        <option value="4">Semester-IV</option>
                                        <option value="5">Semester-V</option>
                                    </select>*@
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-primary fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                        Action
                                        <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-default dropdown-info">
                                        @*<li>
                                                <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("StatisticCSV","Statistics",new { area="CUCollegeAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                                    Download Excel(CSV)
                                                </a>
                                            </li>
                                            <li class="divider"></li>*@
                                        <li>
                                            <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("PrintCourseCategoryWise","Statistics",new { area="CUCollegeAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                                Print
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div style="overflow:auto;" class="js-table-content" data-url=@Url.Action("CourseWiseListPartial", "Statistics", new { area = "CUCollegeAdminPanel" }) data-DefaultOrderByColumn="Total">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter", new ViewDataDictionary { { "PageSize", "-1" } });}
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script>
        $(document).ready(function () {

            $("#StatisticsSection").addClass("active open");
            $("#CourseCategoryWise").addClass("active");
            //loadpagertableWithDefaultParams();
            $("#PrintProgramme").change(function () {
                $('.js-pager-table').data('otherparam1', $(this).find('option:selected').val());
                $('.js-exportToCSV').data('otherparam1', 'printProgramme=' + $(this).find('option:selected').val());
            });
        });
    </script>
}
