@model IEnumerable<CUSrinagar.Models.ResultList>
@using CUSrinagar.Enums
@using CUSrinagar.Extensions
@using CUSrinagar.Models
<table class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th>S.No</th>
            <th data-property="CourseFullName">Course</th>

            <th title="Total" class="center text-center">Total</th>
            <th title="Overall result status" class="center text-center">Passed</th>
            <th title="Overall result status" class="center text-center">Failed</th>

            <th title="Internal" class=" text-center">Internal</th>
            <th title="External" class="center ">External</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            var _ListOfCourses = Model.Select(x => x.Course_ID).Distinct().ToList();
            foreach (Guid Course_ID in _ListOfCourses)
            {
                var _rows = Model.Where(x => x.Course_ID == Course_ID && x.HasResult);
                var _failedStudents = _rows.Where(x => x.OverallResultStatus != ResultStatus.P).ToList();
                var _passedStudents = _rows.Where(x => x.OverallResultStatus == ResultStatus.P && !_failedStudents.Any(y => y.Student_ID == x.Student_ID)).ToList();

                var _internalFailed = _rows.Where(x => x.InternalStatus != ResultStatus.P).ToList();
                var _internalPassed = _rows.Where(x => x.InternalStatus == ResultStatus.P && !_internalFailed.Any(y => y.Student_ID == x.Student_ID)).ToList();

                var _externalFailed = _rows.Where(x => x.ExternalStatus != ResultStatus.P).ToList();
                var _externalPassed = _rows.Where(x => x.ExternalStatus == ResultStatus.P && !_externalFailed.Any(y => y.Student_ID == x.Student_ID)).ToList();

                <tr>
                    <td class="js-sno"></td>

                    <td>@_rows.First().CourseFullName</td>

                    <td title="Total number of students">
                        <center>
                            <b><u>@_rows.Select(x => x.Student_ID).Distinct().Count()</u> </b>
                            <br />
                            [<span title="Male">@_rows.Where(x => x.Gender.ToLower() == "male").Select(x => x.Student_ID).Distinct().Count()</span><sup>M</sup>
                            |
                            <span title="Female">@_rows.Where(x => x.Gender.ToLower() == "female").Select(x => x.Student_ID).Distinct().Count()</span><sup>F</sup>]
                        </center>
                    </td>

                    <td title="Overall pass number of students">
                        <center>
                            <b><u>@_passedStudents.Select(x => x.Student_ID).Distinct().Count()</u></b>
                            <br />
                            [<span title="Male">@_passedStudents.Where(x => x.Gender.ToLower() == "male").Select(x => x.Student_ID).Distinct().Count()</span><sup>M</sup>
                            |
                            <span title="Female">@_passedStudents.Where(x => x.Gender.ToLower() == "female").Select(x => x.Student_ID).Distinct().Count()</span><sup>F</sup>]
                        </center>
                    </td>

                    <td title="Overall failed number of students">
                        <center>
                            <b><u>@_failedStudents.Select(x => x.Student_ID).Distinct().Count()</u></b>
                            <br />
                            [<span title="Male">@_failedStudents.Where(x => x.Gender.ToLower() == "male").Select(x => x.Student_ID).Distinct().Count()</span><sup>M</sup>
                            |
                            <span title="Female">@_failedStudents.Where(x => x.Gender.ToLower() == "female").Select(x => x.Student_ID).Distinct().Count()</span><sup>F</sup>]
                        </center>
                    </td>

                    <td title="Internal pass/fail count">
                        <center>
                            <span>@_internalPassed.Select(x => x.Student_ID).Distinct().Count()</span><sup>P</sup>
                            |
                            <span>@_internalFailed.Select(x => x.Student_ID).Distinct().Count()</span><sup>F</sup>
                        </center>
                    </td>

                    <td title="External pass/fail count">
                        <center>
                            <span>@_externalPassed.Select(x => x.Student_ID).Distinct().Count()</span><sup>P</sup>
                            |
                            <span>@_externalFailed.Select(x => x.Student_ID).Distinct().Count()</span><sup>F</sup>
                        </center>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
