
@{
    /**/

    ViewBag.Title = "CUS::Result";
}

@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">Result List</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Result Reports
            </h2>*@
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    @if (TempData["response"] != null)
    {
        @Html.Raw(TempData["response"])
    }
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Result
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Student
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Batch</label><br />
                            <div class="jsDDLContainer">
                                <select class="jsfilterelement form-control" data-column="Batch" data-operator="EqualTo" id="BatchDDL">
                                    <option value="">All</option>
                                    @for (int i = 2017; i <= DateTime.Now.Year; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose College</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("CollegeDDL", new SelectList(ViewBag.College, "Value", "Text"), "------ All Colleges ------",
                               new
                               {
                                   @class = "chosen-select jsfilterelement jsCollegeDDL",
                                   @data_column = "AcceptCollege_ID",
                                   @data_operator = "EqualTo",
                                   @data_scope = "row1"
                               })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url=@Url.Action("EnrollmentList") data-DefaultOrderByColumn="Batch">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>
<script>
    var $pagertable = $(".js-pager-table");
</script>