@using CUSrinagar.Models
@using CUSrinagar.Extensions

@model ARGPersonalInformation

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.StudentFormNo Sem Exam Admit Card - CUSrinagar</title>
    <style type="text/css">
        .btn-theme {
            background: #011c27;
            border: 1px solid #84aac9;
            color: #fff;
        }

            .btn-theme:hover {
                background: #545677;
                border: 1px solid #84aac9;
                color: #fff;
            }

        .QRCode {
            width: 95px;
            position: absolute;
            margin-top: -60px;
            margin-left: 0
        }

        @@media print {
            .QRCode {
                width: 95px;
                position: absolute;
                margin-top: -60px;
                margin-left: 0
            }

            .noneOnPrint {
                display: none;
            }

            .dontbreakInside {
                page-break-inside: avoid;
            }

            .breakpagehere {
                page-break-after: always !important;
            }

            .blankspace {
                height: 350px !important;
            }
        }

        .breakpagehere {
            height: 10px;
            background-color: grey !important;
        }

        table tr td {
            padding: 10px 10px;
        }

        table tr td, table tr th {
            max-width: 150px;
            word-wrap: hyphenate !important;
        }

        table, table tr, table tr td, table tr th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        div {
            background-color: #fff;
        }

        .center {
            text-align: center !important;
        }

        .pull-right {
            float: right !important;
        }

        .pull-left {
            float: left !important;
        }
    </style>
</head>
<body style="background-color:grey">
    @{
        var base64 = Convert.ToBase64String(Model.QRCode);
        var QRImgSrc = String.Format($"data:image/png" + ";base64,{0}", base64);
        Tuple<string, string, List<ADMSubjectMaster>, ARGStudentExamForm, SemesterExamCenterDetails> AdmitCardDetails
            = (Tuple<string, string, List<ADMSubjectMaster>, ARGStudentExamForm, SemesterExamCenterDetails>)ViewBag.AdmitCardDetails;
    }
    <div style="margin:0 auto;width:909px;padding:10px 10px">
        <div class="center">
            <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" style="width:90px;height:68px;" />
            <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
            <br />
            <strong style="font-size:20px;">
                Semester-@AdmitCardDetails.Item4.Semester Exam [ADMIT CARD @AdmitCardDetails.Item5.EntranceDate.Year]
                <img src="@QRImgSrc" class="QRCode" style="margin-left:70px;" />
            </strong>
        </div>
        <table>
            <tr>
                <td colspan="3">
                    <strong style="float:left !important;">Exam Form No. : @AdmitCardDetails.Item4.FormNumber</strong>
                </td>
                <td colspan="2">
                    <strong style="float:right !important;font-size:17px;">Exam Roll No. : @AdmitCardDetails.Item4.ExamRollNumber</strong>
                </td>
            </tr>
            <tr>
                <td colspan="4">CUS Registration No.: @Model.CUSRegistrationNo</td>
                <td rowspan="5" class="center">
                    <img class="img-responsive" src="@Url.Content(Model.Photograph)" width="150" />
                </td>
            </tr>
            <tr>
                <td style="width:100px">Name</td>
                <td>@Model.FullName</td>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Father's Name</td>
                <td colspan="3">@Model.FathersName</td>

            </tr>
            <tr>
                <td>Mobile</td>
                <td>@Model.StudentAddress.Mobile</td>
                <td>Batch</td>
                <td>@Model.Batch</td>
            </tr>
            @*<tr>
                    <td>Center</td>
                    <td colspan="3"><strong>@Model.AcceptCollegeID</strong></td>
                </tr>*@
            @if (!string.IsNullOrWhiteSpace(AdmitCardDetails.Item2))
            {
                <tr>
                    <td>Course</td>
                    <th>@AdmitCardDetails.Item1</th>
                    <td>Combination Code</td>
                    <th>@AdmitCardDetails.Item2</th>
                </tr>
            }
            else
            {
                <tr>
                    <td>Course</td>
                    <th colspan="3">@AdmitCardDetails.Item1</th>
                </tr>
            }
            <tr>
                <td>Subjects</td>
                @if (AdmitCardDetails.Item4.Semester != 1)
                {
                    <td colspan="4"><strong>@AdmitCardDetails.Item3.Select(x => x.SubjectFullName).ToSingleString(',').Replace(",", " , ")</strong></td>
                }
                else
                {
                    <td colspan="4"><strong>@AdmitCardDetails.Item3.Where(s => s.SubjectType != CUSrinagar.Enums.SubjectType.FirstSemesterExclusion).Select(x => x.SubjectFullName).ToSingleString(',').Replace(",", " , ")</strong></td>
                }
            </tr>
        </table>
        <h3>Examination Center @*&amp; Time*@</h3>
        <table>
            <tr>
                <th>Center Name &amp; Address</th>
                <th>Center Number</th>
                @*<th>Time</th>*@
            </tr>
            <tr>
                <td><b>@AdmitCardDetails.Item5.CollegeFullName</b> , @AdmitCardDetails.Item5.Address</td>
                <td class="center">@AdmitCardDetails.Item5.CenterCode</td>
                @*<td class="center">@AdmitCardDetails.Item5.Time</td>*@
            </tr>
        </table>
        <div class="dontbreakInside" style="width:100% !important">
            <p style="width:100%;text-align:justify">
                <fieldset style="padding:0;">
                    <legend style="font-weight:bold;font-size:16px;color:red;text-align:center"> Important </legend>
                    <ol>
                        <li>In case of any variation in particulars, the candidate shall contact the I.T Section.</li>
                    </ol>
                </fieldset>
                <br /><br />
                <span class="pull-left ">Printed on : @DateTime.UtcNow.ToLongDateString()</span>

                <strong class="pull-right">
                    Signature of the Applicant
                </strong>
            </p>
        </div>
        <br />
    </div>

    <div class="noneOnPrint" style="margin-left:-14px;height:40px;background-color:lightslategrey;width:100%;position:fixed;bottom:0;z-index:100;text-align:center;padding-top:10px">
        @Html.ActionLink("Go Back", "PrintAdmitCard", "Examination", new { area = "CUStudentZone" }, new { style = "color:white;" })
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="height: 32px;" href="#" class="btn btn-theme" onclick="window.print();"> <b> Download or Print Admit Card</b></button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a style="height: 32px;color:white" href="https://www.wikihow.com/Save-a-Web-Page-as-a-PDF-in-Google-Chrome" target="_blank"><b>See How to Save as PDF</b></a>
    </div>

    <script src="@Url.Content("~/Content/ThemePublic/Libraries/disableBack.js")"></script>
    <script type="text/javascript">
        window.oncontextmenu = function () { return false; }
    </script>
</body>
</html>