
@using CUSrinagar.Models
@using CUSrinagar.Enums
@using Nut
@using CUSrinagar.Extensions

@model List<AwardModel>

@{
    Layout = null;
}
<html>
<head>
    <title>
        Award @ViewBag.Programme - CUSrinagar
    </title>
    <style type="text/css">
        .btn-theme {
            background: #011c27;
            border: 1px solid #84aac9;
            color: #fff;
        }

            .btn-theme:hover {
                background: #545677;
                border: 1px solid #84aac9;
                color: #fff;
            }

        .QRCode {
            width: 95px;
            position: absolute;
            margin-top: -60px;
            margin-left: 0
        }

        table,
        tfoot, tfoot tr, tfoot tr td {
            border: 0 !important;
        }

        @@page:last {
            @@bottom-center {
                content: "footer stuff here";
            }
        }

        @@media print {
            body {
                position: relative;
            }

            .footer {
                position: absolute;
                bottom: 0;
            }

            .QRCode {
                width: 95px;
                position: absolute;
                margin-top: -60px;
                margin-left: 0
            }

            .noneOnPrint {
                display: none;
            }

            .dontbreakInside {
                page-break-inside: avoid;
            }

            .breakpagehere {
                page-break-after: always !important;
            }

            .blankspace {
                height: 350px !important;
            }
        }

        .breakpagehere {
            height: 10px;
            background-color: grey !important;
        }

        table tr td {
            padding: 10px;
        }

        table tr td, table tr th {
            max-width: 150px;
            word-wrap: break-word !important;
        }

        table, table tr, table tr td, table tr th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        div {
            background-color: #fff;
        }

        .center {
            text-align: center !important;
        }

        .pull-right {
            float: right !important;
        }

        .pull-left {
            float: left !important;
        }

        .hidden {
            display: none;
        }

        .watermark {
            color: silver;
            opacity: 0.3;
            font-size: 15px;
            position: absolute;
            background-color: transparent;
        }
    </style>
    <script src="/Content/ThemeAdmin/Content/Scripts/Libraries/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('td').each(function () {
                $(this).append('<span class="watermark" style="margin-top:-8px;text-align:center;margin-left:-20px">Cluster University Srinagar<br/>@DateTime.Now</span>');
            });
        });
    </script>
</head>
@{
    var Passc = 0;
    var Failc = 0;

    var prgm = (ViewBag.Programme).ToString().Substring(0, 2);
    int sno = 0;

    bool showcol1 = ViewBag.ShowInternalColumn;
    bool showcol2 = ViewBag.ShowInternalAttendanceColumn;
    bool showcol3 = ViewBag.ShowExternalColumn;
    bool showcol4 = ViewBag.ShowExternalAttendanceColumn;

    string col1 = showcol1 ? "" : "hidden";
    string col2 = showcol2 ? "" : "hidden";
    string col3 = showcol3 ? "" : "hidden";
    string col4 = showcol4 ? "" : "hidden";

    ADMSubjectMaster subject = (ADMSubjectMaster)ViewData["SubjectData"];

    bool col1isparti = subject.InternalIsPartOf == MarksIsPartOf.Internal && subject.InternalVisibleTo == AwardModuleType.University;
    bool col2isparti = subject.InternalAttendance_AssessmentIsPartOf == MarksIsPartOf.Internal && subject.InternalAttendance_AssessmentVisibleTo == AwardModuleType.University;
    bool col3isparti = subject.ExternalIsPartOf == MarksIsPartOf.Internal && subject.ExternalVisibleTo == AwardModuleType.University;
    bool col4isparti = subject.ExternalAttendance_AssessmentIsPartOf == MarksIsPartOf.Internal && subject.ExternalAttendance_AssessmentVisibleTo == AwardModuleType.University;
    bool col1isparte = subject.InternalIsPartOf == MarksIsPartOf.External && subject.InternalVisibleTo == AwardModuleType.University;
    bool col2isparte = subject.InternalAttendance_AssessmentIsPartOf == MarksIsPartOf.External && subject.InternalAttendance_AssessmentVisibleTo == AwardModuleType.University;
    bool col3isparte = subject.ExternalIsPartOf == MarksIsPartOf.External && subject.ExternalVisibleTo == AwardModuleType.University;
    bool col4isparte = subject.ExternalAttendance_AssessmentIsPartOf == MarksIsPartOf.External && subject.ExternalAttendance_AssessmentVisibleTo == AwardModuleType.University;


}

<body>
    <table>
        <thead>
            <tr>
                <th colspan="10">
                    <div class="page-header center">
                        <strong>Cluster University Srinagar</strong>
                        <b>
                            <br />
                            <i class="fa fa-credit-card"></i> Award @ViewBag.Programme ExamYear-@(ViewBag.Year)  @ViewBag.Subject<br />
                        </b>
                        @if (!ViewBag.ISAwardSubmitted)
                        {<strong style="font-size:30px">Draft Copy</strong>}
                        else
                        { <strong style="font-size:30px">Final Copy</strong>}
                    </div>
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Exam Roll Number</th>
                <th>Class Roll No</th>
                <th class="@col1">@ViewBag.InternalLabel </th>
                <th class="@col2">@ViewBag.InternalAttendanceLabel </th>
                <th class="@col3">@ViewBag.ExternalLabel</th>
                <th class="@col4">@ViewBag.ExternalAttendanceLabel</th>
                @if (ViewBag.HaveInternalColumn)
                {
                    <th> Result Status(Int) </th>
                }
                @if (ViewBag.HaveExternalColumn)
                {
                    <th> Result Status(Ext) </th>
                }

            </tr>
        </thead>
        @if (Model != null)
        {
            sno = 1;
            <tbody>
                @foreach (var item in Model)
                {
                    int igtotal = 0; int egtotal = 0;
                    int pmarks = Convert.ToInt32(item.InternalMarks);
                    string pmarksInWords = (pmarks < 0) ? ((CUSrinagar.Enums.ResultStatus)pmarks).ToString() : pmarks.ToText(Language.English).ToUpper();
                    int pamarks = Convert.ToInt32(item.InternalAttendance_AssessmentMarks);
                    string pamarksInWords = (pamarks < 0) ? ((CUSrinagar.Enums.ResultStatus)pamarks).ToString() : pamarks.ToText(Language.English).ToUpper();
                    int tmarks = Convert.ToInt32(item.ExternalMarks);
                    string tmarksInWords = (tmarks < 0) ? ((CUSrinagar.Enums.ResultStatus)tmarks).ToString() : tmarks.ToText(Language.English).ToUpper();
                    int tamarks = Convert.ToInt32(item.ExternalAttendance_AssessmentMarks);
                    string tamarksInWords = (tamarks < 0) ? ((CUSrinagar.Enums.ResultStatus)tamarks).ToString() : tamarks.ToText(Language.English).ToUpper();
                    if (showcol1 && col1isparti)
                    { igtotal = igtotal + pmarks; }
                    if (showcol2 && col2isparti)
                    { igtotal = igtotal + pamarks; }
                    if (showcol3 && col3isparti)
                    { igtotal = igtotal + tmarks; }
                    if (showcol4 && col4isparti)
                    { igtotal = igtotal + tamarks; }
                    if (showcol1 && col1isparte)
                    { egtotal = egtotal + pmarks; }
                    if (showcol2 && col2isparte)
                    { egtotal = egtotal + pamarks; }
                    if (showcol3 && col3isparte)
                    { egtotal = egtotal + tmarks; }
                    if (showcol4 && col4isparte)
                    { egtotal = egtotal + tamarks; }

                    <tr>
                        <td>@sno</td>
                        <td>@item.ExamRollNumber</td>
                        <td>@item.ClassRollNo</td>
                        <td class="@col1">@pmarks (@pmarksInWords)</td>
                        <td class=" @col2">@pamarks (@pamarksInWords)</td>
                        <td class=" @col3">@tmarks (@tmarksInWords)</td>
                        <td class=" @col4">@tamarks (@tamarksInWords)</td>
                        @if (ViewBag.HaveInternalColumn)
                        {
                            <td>
                                @if (igtotal < 0)
                                {<span>
                                        @CUSrinagar.Enums.ResultStatus.Absent @{Failc++;
                                        }
                                    </span>}
                                else if (igtotal < ViewBag.MinInternalMarks)
                                { <span>
                                        @CUSrinagar.Enums.ResultStatus.F  @{Failc++;
                                        }
                                    </span>}
                                else if (igtotal >= ViewBag.MinInternalMarks)
                                { <span>
                                        @CUSrinagar.Enums.ResultStatus.P  @{Passc++;
                                        }
                                    </span>}
                            </td>
                        }
                        @if (ViewBag.HaveExternalColumn)
                        {
                            <td>
                                @if (egtotal == -3)
                                {
                                    <span>
                                        @CUSrinagar.Enums.ResultStatus.LO.GetEnumDescription()
                                        @{Failc++;
                                        }
                                    </span>
                                }
                                else if (egtotal < 0)
                                {<span>
                                        @CUSrinagar.Enums.ResultStatus.Absent
                                        @{Failc++;
                                        }
                                    </span>}
                                else if (egtotal < ViewBag.MinExternalMarks)
                                { <span>
                                        @CUSrinagar.Enums.ResultStatus.F @{Failc++;
                                        }
                                    </span>}
                                else if (egtotal >= ViewBag.MinExternalMarks)
                                { <span>
                                        @CUSrinagar.Enums.ResultStatus.P @{Passc++;
                                        }
                                    </span>}
                            </td>
                        }
                    </tr>
                    sno++;
                }
                @{sno--;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" style="text-align:right">
                        <br />
                        <br /><strong>Signature of Concerned Teacher</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align:right">

                        Printed On @DateTime.Now.Date.ToLongDateString()
                    </td>

                </tr>
            </tfoot>
        }
    </table>

    <strong colspan="3" class="footer">
        Signature of Principal<br><br>
        <span class="align-right fontsze">
            Total: @sno &nbsp;&nbsp;
            Pass: @Passc &nbsp;&nbsp;
            Fail: @Failc &nbsp;&nbsp;
        </span>
    </strong>
    <div class="noneOnPrint" style="margin-left:-14px;height:40px;background-color:lightslategrey;width:100%;position:fixed;bottom:0;z-index:100;text-align:center;padding-top:10px">
        <button style="height: 32px;" href="#" class="btn btn-theme" onclick="window.print();"><b>Download or Print</b></button>
    </div>
</body>
</html>