@using CUSrinagar.Models
@using CUSrinagar.BusinessManagers
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@using CUSrinagar.Extensions


@model ARGPersonalInformation

@{
    ViewBag.Title = $"Registration Form {DateTime.UtcNow.Year}- ";
}
<div id="Jspleasewait" style="display:none;position:fixed;background-color:rgba(0, 0, 0, 0.20);left:0;top:0;z-index:200;width:100%;height:100%">
    <p style="font-size:30px;font-weight:bold;color:white;margin-top:20%;margin-left:41%">
        Please wait...
    </p>
</div>
<div class="page-wrapper pt-text-style">

    <div id="response">
        @if (TempData["response"] != null)
        {
            @Html.Raw(TempData["response"])
        }
    </div>
    <div class="page-content">
        @using (Html.BeginForm("AddStudentDetails", "BOPEERegistration", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "BoprrRegn" }))
        {
            @Html.AntiForgeryToken()

            @*------------------------board reg &course Section-----------------------------------*@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <h3 class="center red">
                        @AppUserHelper.CollegeCode New Student Registration<br />
                        (@ViewBag.PrintProgrammeDes)
                    </h3> <hr />

                    <h4 style="margin-left:10px;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.LabelFor(model => model.BoardRegistrationNo, new { @class = "small-70" })
                        <span style="margin-left:15%">
                            Fields marked with <strong style="color:red;">*</strong> are mandatory.
                        </span>

                    </h4> <hr />
                    <div class="col-lg-4"></div>
                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        Enter @Html.LabelFor(model => model.BoardRegistrationNo, new { @class = "small-70" })
                        <span class="required">
                            *
                            <span id="errorMsg"></span>
                        </span><br />
                        @Html.Hidden("programme", (int)ViewBag.PrintProgramme)
                        @Html.Hidden(nameof(Model.Preference), "NULL")
                        @Html.Hidden(nameof(Model.TotalFee), "0")
                        @Html.TextBox("StdBoardRegistrationNo", "", new { @class = "form-control ", @maxlength = "150", @onkeypress = "return forAdmissionRollNo(event);", @required = "required" })
                    </label>
                </div>
            </div>
            @*------------------------------------End board reg Section-----------------------------------*@

            @*------------------------------------Personal Details Section-----------------------------------*@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <h4 style="margin-left:10px;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <strong>Personal Information</strong>
                    </h4> <hr />

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.FullName, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.FullName)
                        </span><br />
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @maxlength = "150", @onkeypress = "return forNameOnly(event);" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.FathersName, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.FathersName)
                        </span><br />
                        @Html.TextBoxFor(model => model.FathersName, new { @class = "form-control", @maxlength = "150", @onkeypress = "return forNameOnly(event);" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.MothersName, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.MothersName)
                        </span><br />
                        @Html.TextBoxFor(model => model.MothersName, new { @class = "form-control", @maxlength = "150", @onkeypress = "return forNameOnly(event);" })
                    </label>


                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.Gender)
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.Gender)
                        </span><br />
                        @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderDDL, string.Empty, new { @class = "form-control" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.Religion)
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.Religion)
                        </span><br />
                        @Html.DropDownListFor(model => model.Religion, (IEnumerable<SelectListItem>)ViewBag.ReligionDDL, string.Empty, new { @class = "form-control" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.Category)
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.Category)
                        </span><br />
                        @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.CategoryDDL, string.Empty, new { @class = "form-control" })

                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.EnteredDOB)
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.EnteredDOB)
                        </span><br />
                        @Html.TextBoxFor(model => model.EnteredDOB, new { @maxlength = "10", @class = "form-control dateDDMMYYY", @placeholder = "dd-mm-yyyy" })

                    </label>
                    @if (ViewBag.MinBatch > 2016)
                    {
                        <label class="col-sm-4 lbl bigger-120 no-padding-right">
                            @Html.LabelFor(model => model.Batch)
                            <span class="required">
                                *
                                @Html.ValidationMessageFor(model => model.Batch)
                            </span><br />
                            @Html.TextBoxFor(model => model.Batch, new { @min = ViewBag.MinBatch, @max = ViewBag.MaxBatch, @type = "number", @class = "form-control", @placeholder = "yyyy" })
                        </label>
                    }
                    else
                    {
                        <label class="col-sm-4 lbl bigger-120 no-padding-right">
                            @Html.LabelFor(model => model.Batch)
                            <span class="required">
                                *
                                @Html.ValidationMessageFor(model => model.Batch)
                            </span><br />
                            @Html.TextBoxFor(model => model.Batch, new { @type = "number", @class = "form-control", @placeholder = "yyyy", @disabled = "@disabled" })
                        </label>
                    }
                </div>
            </div>
            @*------------------------------------End Personal Details Section-----------------------------------*@


            @*------------------------------------Address Information Section-----------------------------------*@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <h4 style="margin-left:10px;"><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Address Information</strong> </h4><hr />

                    <label class="col-sm-12 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.PermanentAddress, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.PermanentAddress)
                        </span><br />
                        @Html.TextBoxFor(model => model.StudentAddress.PermanentAddress, new { @class = "form-control", @maxlength = "400", @onkeypress = "return forAddressOnly(event);" })
                    </label>
                    <label class="col-sm-4 lbl bigger-120 no-padding-right">

                        @Html.LabelFor(model => model.StudentAddress.PinCode, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.PinCode)
                        </span><br />
                        @Html.TextBoxFor(model => model.StudentAddress.PinCode, new { @class = "form-control", @maxlength = "6", @onkeypress = "return numbersOnly(event);" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.Mobile, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.Mobile)
                        </span><br />
                        @Html.TextBoxFor(model => model.StudentAddress.Mobile, new { @class = "form-control", @maxlength = "10", @onkeypress = "return numbersOnly(event);", @title = "Provide a valid Mobile No. to enable University to send alerts, important communications etc" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.Email, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.Email)
                        </span><br />
                        @Html.TextBoxFor(model => model.StudentAddress.Email, new { @class = "form-control", @maxlength = "150", @title = "Provide a valid Email to enable University to send alerts, important communications etc" })
                        @Html.Hidden("StudentAddress.PProgramme", (int)ViewBag.PrintProgramme)
                    </label>
                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.Block, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.Block)
                        </span><br />

                        @Html.TextBoxFor(model => model.StudentAddress.Block, new { @class = "form-control", @maxlength = "200", @onkeypress = "return forAddressOnly(event);" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.Tehsil, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.Tehsil)
                        </span><br />

                        @Html.TextBoxFor(model => model.StudentAddress.Tehsil, new { @class = "form-control", @maxlength = "200", @onkeypress = "return forAddressOnly(event);" })

                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.District, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.District)
                        </span><br />
                        @Html.DropDownListFor(model => model.StudentAddress.District, (IEnumerable<SelectListItem>)ViewBag.DistrictDDL, string.Empty, new { @class = "form-control" })
                    </label>

                    <label class="col-sm-4 lbl bigger-120 no-padding-right">
                        @Html.LabelFor(model => model.StudentAddress.AssemblyConstituency, new { @class = "small-70" })
                        <span class="required">
                            *
                            @Html.ValidationMessageFor(model => model.StudentAddress.AssemblyConstituency)
                        </span><br />

                        @Html.DropDownListFor(model => model.StudentAddress.AssemblyConstituency, (IEnumerable<SelectListItem>)ViewBag.AssemblyDDL, string.Empty, new { @class = "form-control" })
                    </label>


                    @if (Model.AcademicDetails.Any(x => x.ExamName.ToLower().Trim().Contains("graduation")) || !string.IsNullOrWhiteSpace(Model.PreviousUniversityRegnNo))
                    {
                        <label class="col-sm-4 lbl bigger-120 no-padding-right">
                            @Html.LabelFor(model => model.PreviousUniversityRegnNo, new { @class = "small-70" })
                            <span class="required">
                                *
                                @Html.ValidationMessageFor(model => model.PreviousUniversityRegnNo)
                            </span><br />

                            @Html.TextBoxFor(model => model.PreviousUniversityRegnNo, new { @class = "form-control ", @maxlength = "150", @onkeypress = "return forAdmissionRollNo(event);" })
                        </label>
                    }
                    else
                    {
                        @Html.Hidden(nameof(Model.PreviousUniversityRegnNo), "null")
                    }


                    @if (Model.CoursesApplied[0].Programme.GetEnumDescription().ToLower().Contains("engineering"))
                    {
                        <label class="col-sm-4 lbl bigger-120 no-padding-right">
                            <br />
                            @Html.LabelFor(model => model.IsLateralEntry, new { @class = "small-70 required" })
                            <span class="required">
                                @Html.ValidationMessageFor(model => model.IsLateralEntry)
                            </span>
                            @Html.CheckBoxFor(model => model.IsLateralEntry)
                        </label>
                    }
                    else
                    {
                        @Html.Hidden(nameof(Model.IsLateralEntry), "false")
                    }

                </div>
            </div>
            @*------------------------------------End Address Information Section-----------------------------------*@

            @*------------------------------------Academic Qulafications Section-----------------------------------*@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <h4 style="margin-left:10px;">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <strong>Academic Qualifications </strong>
                    </h4>
                    <hr />
                    @* <strong>
                            <label class="col-sm-1 no-padding-right quadrat JSlblResult" style="width:132px">

                            </label>
                        </strong>
                        <strong>
                                <label class="col-sm-3 lbl bigger-120 no-padding-right">
                                    @Html.DropDownListFor(model => model.IsProvisional, (IEnumerable<SelectListItem>)ViewBag.Provisional, string.Empty, new { @class = "form-control" })
                                </label>
                            </strong>
                            <strong>
                                <label class="col-sm-3 lbl bigger-120 no-padding-right">
                                    <span class="required">
                                        *
                                        @Html.ValidationMessageFor(model => model.IsProvisional)
                                    </span>
                                </label>
                            </strong><br/>*@
                    @Html.Hidden("IsProvisional", "False")
                    <table class="table table-bordered table-hover col-sm-12">
                        <thead>
                            <tr>
                                <th class=table-acedemic-th>Exam Name<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Stream<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Subject(s)<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Session<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Year<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Roll No<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Max Marks<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Marks Obt<span class="required"> *</span></th>
                                <th class=table-acedemic-th>Board/University Name<span class="required"> *</span></th>

                            </tr>
                        </thead>
                        <tbody class=table-acedemic-body>
                            @{int index = 0;}
                            @if (Model != null && Model.AcademicDetails != null)
                            {
                                IEnumerable<SelectListItem> examBody = null;
                                for (index = 0; index < Model.AcademicDetails.Count; index++)
                                {
                                    if (Model.AcademicDetails[index].ExamName.ToUpper().Contains("12TH"))
                                    {
                                        examBody = ViewBag.Boards;
                                    }
                                    else if (Model.AcademicDetails[index].ExamName.ToUpper().Contains("GRADUATION"))
                                    {
                                        examBody = ViewBag.UniversitiesDDL;
                                    }
                                    <tr id="@Model.AcademicDetails[index].ExamName">
                                        <th style="padding-left:20px">
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].ExamName)
                                            </span>
                                            @if (Model.AcademicDetails[index].ReadOnly)
                                            {
                                                @Html.DisplayFor(model => model.AcademicDetails[index].ExamName, new { @class = "form-control width100", @maxlength = "2", @onkeypress = "return forAddressOnly(event);", @title = "Exam Name", @readonly = "readonly", @style = "border:1;border-color: darkgray;" })
                                                @Html.HiddenFor(model => model.AcademicDetails[index].ExamName)
                                                @Html.HiddenFor(model => model.AcademicDetails[index].ReadOnly, new { value = "True" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.AcademicDetails[index].ExamName, new { @maxlength = "140", @onkeypress = "return forAddressOnly(event);", @title = "Exam Name", @style = "border:0", @class = "width100" })
                                            }
                                        </th>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].Stream)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].Stream, new { @class = "form-control width100", @maxlength = "150", @onkeypress = "return forAddressOnly(event);", @title = "e.g GENERAL, ARTS, MEDICAL", @placeholder = "e.g ARTS" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].Subjects)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].Subjects, new { @class = "form-control width100", @maxlength = "400", @onkeypress = "return forAddressOnly(event);", @title = "Subjects separated by comma" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].Session)
                                            </span>
                                            @Html.DropDownListFor(model => model.AcademicDetails[index].Session, (IEnumerable<SelectListItem>)ViewBag.Session, string.Empty, new { @class = "form-control width100" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].Year)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].Year, new { @class = "form-control width100", @maxlength = "4", @onkeypress = "return numbersOnly(event);", @title = "Year Of Passing" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].RollNo)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].RollNo, new { @class = "form-control width100", @maxlength = "80", @onkeypress = "return forAdmissionRollNo(event);", @title = "RollNo" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].MaxMarks)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].MaxMarks, new { @class = "form-control width100 jsvalmm", @maxlength = "4", @onkeypress = "return numbersOnly(event);", @title = "Maximum Marks" })
                                        </td>

                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].MarksObt)
                                            </span>
                                            @Html.TextBoxFor(model => model.AcademicDetails[index].MarksObt, new { @class = "form-control width100 jsvalminm", @maxlength = "7", @onkeypress = "return floatNumbersOnly(event);", @title = "Marks Obtained" })
                                        </td>
                                        <td>
                                            <span class="required">
                                                @Html.ValidationMessageFor(model => model.AcademicDetails[index].ExamBody)
                                            </span>
                                            @Html.DropDownListFor(model => model.AcademicDetails[index].ExamBody, examBody, string.Empty, new { @class = "form-control width100" })
                                        </td>
                                    </tr>
                                }
                                @Html.Hidden("trToRemove", Model.AcademicDetails[index - 1].ExamName)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*---------------end Academic Qulafications section-----------------------------*@
            @*-----------------------------course section-----------------------------------*@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px" id="CourseSection">
                <div class="content-wrapper">
                    <h4 style="margin-left:10px;"></h4> <hr />
                    <div class="col-sm-12">
                        @{string lbl = string.Empty;}
                        @for (int i = 0; i < Model.CoursesApplied.Count; i++)
                        {
                            if (lbl != Model.CoursesApplied[i].Programme.ToString().ToLower() && lbl != string.Empty)
                            {
                                <div class="col-sm-12"><hr /></div>
                            }
                            if (lbl != Model.CoursesApplied[i].Programme.ToString().ToLower())
                            {
                                <h4 class="col-sm-12">
                                    <span style="background-color:#0db12f;padding:3px 10px;width:100%;color:white;">
                                        @if (Model.CoursesApplied[i].Programme == CUSrinagar.Enums.Programme.UG)
                                        {
                                            <text>Graduation Courses</text>
                                        }
                                        else
                                        {
                                            @Model.CoursesApplied[i].Programme.GetEnumDescription() <text>Courses</text>
                                        }
                                    </span>
                                </h4>
                            }
                            <label class="col-sm-4 lbl bigger-120 no-padding-right" style="margin-bottom:10px;" id="@Model.CoursesApplied[i].Course_ID.ToString().ToLower()">
                                @Html.HiddenFor(model => model.CoursesApplied[i].Preference, new { Value = "0" })
                                @Html.HiddenFor(model => model.CoursesApplied[i].Course_ID)
                                @Html.HiddenFor(model => model.CoursesApplied[i].CourseName)
                                @Html.CheckBoxFor(model => model.CoursesApplied[i].IsClicked, new { @class = "JSCourseClk" })
                                @Model.CoursesApplied[i].CourseName.Replace("Integrated", "").Replace("Honor's", "")
                            </label>
                            {
                                lbl = Model.CoursesApplied[i].Programme.ToString().ToLower();
                            }
                        }
                    </div>
                </div>
            </div>

            @*---------------------------- select photo ------------------------ *@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <div class="col-sm-12 lbl bigger-120 no-padding-right">
                        <h4 style="margin-left:8px;">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            <strong>Upload your recent Photograph <span style="float:right;"> Only jpg, png, jpeg, bmp & 20-70KB image file is allowed.</span></strong>
                        </h4><hr />
                        <div class="text-center">
                            <img id="img-preview" src="" style="width:130px;align-content:center;" />
                            <br />
                            <span class="required">
                                *
                                @Html.ValidationMessageFor(model => model.PhotographPath)
                                <span class="erMsg"></span>
                            </span>
                            @Html.LabelFor(model => model.PhotographPath, new { @class = "small-70" })
                            @Html.TextBoxFor(model => model.PhotographPath, new { @style = "padding:2px 0;margin:0 auto;", @type = "file", @id = "theFile", @onchange = "return valFile('#theFile',20,70,'KB','jpg,jpeg,bmp,png','.erMsg');", title = "Only jpg, png, jpeg, bmp & 20-70KB image file is allowed." })
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------End photo Section------------------------ *@

            @*---------------------------- Declaration Section  ------------------------ *@
            <div class="row page-row" style="background-color:white;padding-bottom: 10px">
                <div class="content-wrapper">
                    <div class="col-sm-12 lbl bigger-120 no-padding-right">
                        <h4 style="margin-left:10px;"><i class="fa fa-book" aria-hidden="true"></i> <strong>Declaration</strong></h4><hr />
                        <ol class="justify">
                            <li style="padding:0.3%">I hereby declare that all the statements made in this application are true, complete and correct to the best of my knowledge. In the event of any information being found false or incorrect or any ineligibility being detected my candidature is liable to be cancelled and legal action may be initiated against me.</li>
                            <li style="padding:0.3%">I fulfil all conditions of eligibility educational qualification etc. prescribed for the admission.</li>
                            <li style="padding:0.3%">I have gone through the conditions mentioned in the Cluster University Srinagar Advertisement notification and shall abide by them.</li>
                            <li style="padding:0.3%">I have noted that if my application is found incomplete / defective, the same is liable to be rejected summarily and no correspondence will be entertained in this regard. </li>
                            <li style="padding:0.3%">I have read and agree with the Cluster University Srinagar Advertisement notification including instructions, enclosures, check list and other relevant information.</li>
                        </ol>
                        <div class="clear bold text-center">
                            @Html.Captcha("", "Enter Verification Code", 4, " Required", true)
                            <br />
                        </div>
                    </div>
                    <br />
                    <p style="text-align:center;">
                        <ifa class="fa fa-check-square-o"></ifa> @Html.Label("agree", "By clicking on Final Submit button you have read and accepted the terms & conditions.")
                        <br />
                        @if (ViewBag.MinBatch > 2016)
                        {
                            <span id="hideButtons6">
                                <input style="font-weight:bold;font-size:20px;" type="submit" id="jsfinalSubmit" value="Final Submit" class="btn btn-theme" />
                            </span>
                        }
                    </p>

                </div>
            </div>
            @*----------------------------End Declaration Section  ------------------------ *@
        }
    </div>
</div>
<style>
    .width100 {
        width: 100% !important;
    }

    .field-validation-error, .required {
        color: red;
    }
</style>
@section PageSpecificJS{

    @Scripts.Render("~/bundles/Libraries/jqueryval")
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/JSRegistration/BOPEERegn.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".augf").addClass("active");
        });</script>
}
