<ul>
    @*------------------------------------ IG SYLLABUS -----------------------*@
    @*<li title="">
            <span style="font-size:18px"><a href="https://www.cusrinagar.edu.in/foldermanager/notification/mar16doc1.pdf">Syllabus for Common Aptitude Test 2021</a>
            </span>
        </li>*@
    @*<li title="Click to View"><span style="font-size:18px"><a href="https://www.cusrinagar.edu.in/foldermanager/notification/syllabus.pdf">
        General Notice regarding syllabus  for 5-Year Integrated PG, 3-Year Honor’s and Professional Programmes Entrance -2021</a></span></li>*@
    @*<li title="Click to View"><span style="font-size:14px"><a href="https://jkbose.ac.in/DisplayInformation.aspx?id=42" target="_blank">12th class Syllabus</a></span></li>*@

    @*<li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/BioChemistry2019.pdf")" target="_blank">BioChemistry</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Botany2019.pdf")" target="_blank">Botany</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Business-Adminstration-2019.pdf")" target="_blank">Business Adminstration</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Commerce-2019.pdf")" target="_blank">Commerce</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Chemistry2019.pdf")" target="_blank">Chemistry</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Computer-Application2019.pdf")" target="_blank">Computer Application</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Economics2019.pdf")" target="_blank">Economics</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/English2019.pdf")" target="_blank">English</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Information-Technology-2019.pdf")" target="_blank">Information Technology</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Physics2019.pdf")" target="_blank">Physics</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/EnvironemtalScience2019.pdf")" target="_blank">Environemtal Science</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Geography2019.pdf")" target="_blank">Geography</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/History2019.pdf")" target="_blank">History</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Journalism-Mass-Communicatio-2019.pdf")" target="_blank">Journalism Mass &amp; Communication</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/PoliticalScience2019.pdf")" target="_blank">Political Science</a></span></li>
        <li title="Click to View"><span style="font-size:14px"><a href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/Syllabus/Zoology2019.pdf")" target="_blank">Zoology</a></span></li>*@

    @*----------------------------------- B.TECH --------------------------------*@
    <li title="Click to View"><span style="font-size:14px"><a href="http://www.cusrinagar.edu.in/foldermanager/notification/lateralentrysyllabus.pdf" target="_blank"> B. Tech. Engineering (Lateral Entry)</a></span></li>

    @*----------------------------------- PG Syllabus --------------------------------*@
    <li title="Click to View">
        <span style="font-size:17px">
            Entrance -2022 Syllabus outline for.
            <br />1. 2 Year M.A Education,
            <br />2. 3 Year IG B.Ed/M.Ed,
            <br />3. 2 Year M.Ed Programmes
            <br />
            <strong>
                <a href="https://www.cusrinagar.edu.in/FolderManager/Notification/SyllabusforPGProgrammes2021.pdf" download="SyllabusforPGProgrammes2022">
                    Download here
                </a>
            </strong>
        </span>
    </li>
</ul>
