<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Subject Title</th>
            <th style="width:120px">2019 - Papers</th>
            <th style="width:120px">2018 - Papers</th>
        </tr>
    </thead>
    <tbody>
        <tr><th colspan="3" class="text-center">Intergrated / Honor's / Professional</th></tr>

        <tr>
            <td>Computer Applications</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/IMCA.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/BCA.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Biochemistry</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/biohem.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Biochemistry.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Botany</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/Botany.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/BOTANY.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Business Administration</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/BusinessAdministration.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/BusinessAdministration.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/chemistry.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Chemistry.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Commerce</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/commerce.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/COM-CU.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Economics</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/economics.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Economics.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>English</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/english.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/English.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Environmental Science</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/evs.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/EnvScience.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Geography</td>
            <td>@*<a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/BCA.pdf")">Download</a>*@</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Geography.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Information Technology</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/it.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/InformationTechnology.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Jounalism and Mass Communication</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/mascom.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Journalism.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Physics</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/physics.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Physics.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Political Science</td>
            <td>@*<a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/BCA.pdf")">Download</a>*@</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/PoliticalScience.pdf")">Download</a></td>
        </tr>
        <tr>
            <td>Zoology</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/zoology.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/Zoology.pdf")">Download</a></td>
        </tr>
        @*<tr>
            <td>General Apptitude</td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2019/CAT.pdf")">Download</a></td>
            <td><a class="btn btn-primary" href="@Url.Content("~/FolderManager/IGPGEntranceSyllabus_Papers/PreviousPapers/2018/GeneralApetitude.pdf")">Download</a></td>
        </tr>*@
    </tbody>
</table>
