@model CUSrinagar.Models.ARGPersonalInformation
@using Nut
@using CUSrinagar.Extensions
@{
    Layout = null;
    var MessageForAlert = TempData["alert"] ?? "";
    string programmeApplied = "";

    if (Model.IsLateralEntry)
    {
        if (Model.CoursesApplied?.Any(x => x.Programme == CUSrinagar.Enums.Programme.Engineering) ?? false)
        {
            programmeApplied = "- Engineering Lateral Entry";
        }
        else
        {
            programmeApplied = "- PG Lateral Entry";
        }
    }
    else
    {
        programmeApplied = ViewBag.AppliedFor.Replace(" / Engineering", "");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.StudentFormNo - CUSrinagar</title>
    <style type="text/css">
        .btn-theme {
            background: #011c27;
            border: 1px solid #84aac9;
            color: #fff;
        }

            .btn-theme:hover {
                background: #545677;
                border: 1px solid #84aac9;
                color: #fff;
            }

        .QRCode {
            width: 95px;
            float: right;
            margin-left: 0;
            margin-right: 10px;
        }

        @@media print {
         body{margin-top:-10px !important;padding-top:0 !important;}
         @@page {
                size: portrait;
            }
            .QRCode {
                width: 95px;
                float: right;
                margin-right: 10px;
                margin-left: 0;
            }

            .noneOnPrint {
                display: none;
            }

            .dontbreakInside {
                page-break-inside: avoid;
            }

            .breakpagehere {
                page-break-after: always !important;
            }

            .blankspace {
                height: 350px !important;
            }
        @if (Model.StudentFormNo.ToLower() == "preview")
        {
                <text>
                    body{ display : none;}
                </text>
        }
        }

        .breakpagehere {
            height: 10px;
            background-color: grey !important;
        }

        table tr td {
            padding: 10px;
        }

        table tr td, table tr th {
            max-width: 150px;
           word-wrap:break-word !important;
        }

        table, table tr, table tr td, table tr th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        div {
            background-color: #fff;
        }

        .center {
            text-align: center !important;
        }

        .pull-right {
            float: right !important;
        }

        .pull-left {
            float: left !important;
        }
    </style>
</head>
<body style="background-color:grey">
    @{
        var base64 = Convert.ToBase64String(Model.QRCode);
        var QRImgSrc = $"data:image/png;base64,{base64}";
        string courseNames = "";
    }
    <div style="margin:0 auto;width:909px;padding:10px 10px">
        @if (Model.StudentFormNo.ToLower() != "preview")
        {
            <img src="@QRImgSrc" class="QRCode" />
        }
        <div class="center">
            <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" style="width:90px;height:68px;" />
            <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
            <br />

            @if (Model.StudentFormNo.ToLower() != "preview")
            {
                <strong style="font-size:20px;">
                    Registration Form For Admission @Model.Batch
                    @programmeApplied
                </strong>
            }
            else
            {
                <strong style="color:red;">
                    This is a preview. Please do not print this Form.<br />Go to previous browser tab to final submit the form or make corrections (if required)
                </strong>
            }
        </div>
        <table>
            <tr>
                <td colspan="2">
                    <strong>
                        @{var prov = (Model.IsProvisional ?? false) ? "Yes" : "No"; }
                        <Text>Is provisional admission : @prov</Text>
                    </strong>
                </td>
                <th>Batch : @Model.Batch</th>
                <td colspan="3">
                    <b style="float:right !important;">Form No. : @Model.StudentFormNo</b>
                </td>
            </tr>
            <tr>
                @if (Model.IsLateralEntry)
                {
                    <td colspan="2">Board Registration No.: @Model.BoardRegistrationNo</td>
                    <th colspan="2">Is Lateral Entry: Yes</th>
                }
                else
                {
                    if ((Model.EntranceRollNo ?? 0) > 2000)
                    {
                        <td colspan="2">Board Registration No.: @Model.BoardRegistrationNo</td>
                        <th colspan="2">Entrance Roll No.: @Model.EntranceRollNo</th>
                    }
                    else
                    {
                        <td colspan="4">Board Registration No.: @Model.BoardRegistrationNo</td>
                    }
                }
                <td rowspan="5" class="center">
                    @if (Model.StudentFormNo.ToLower() == "preview")
                    {

                        base64 = Convert.ToBase64String(ViewBag.BytePhotograph);
                        var imgSrc = $"data:{ViewBag.PhotoType};base64,{base64}";
                        <img class="img-responsive" src="@imgSrc" width="150" />
                    }
                    else
                    {
                        <img class="img-responsive" src="@Url.Content(Model.Photograph)" width="150" />
                    }
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.FullName</td>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Father's Name</td>
                <td>@Model.FathersName</td>
                <td>Religion</td>
                <td>@Model.Religion</td>

            </tr>
            <tr>
                <td>Mother's Name</td>
                <td>@Model.MothersName</td>
                <td>Mobile</td>
                <td>@Model.StudentAddress.Mobile</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.StudentAddress.Email</td>

                <td>Category</td>
                <td>@Model.Category</td>
            </tr>
            <tr>
                <td>Address</td>
                <td colspan="2">@Model.StudentAddress.PermanentAddress</td>
                <td>DOB</td>
                <td><b>@Model.DOB.ToString("dd-MM-yyyy")</b> </td>
            </tr>
            <tr>
                <td>Pincode</td>
                <td>@Model.StudentAddress.PinCode</td>
                <td>Block</td>
                <td colspan="2">@Model.StudentAddress.Block</td>
            </tr>
            <tr>
                <td>Tehsil</td>
                <td>@Model.StudentAddress.Tehsil</td>
                <td>District</td>
                <td colspan="2">@Model.StudentAddress.District</td>
            </tr>
            <tr>
                <td>Assembly Constituency</td>
                <td colspan="2">@Model.StudentAddress.AssemblyConstituency</td>
                <td>Parliamentary Constituency</td>
                <td>@Model.StudentAddress.ParliamentaryConstituency</td>
            </tr>
            <tr>
                <td>State</td>
                <td colspan="4">@Model.StudentAddress.State</td>
            </tr>
            @if (!string.IsNullOrWhiteSpace(Model.PreviousUniversityRegnNo))
            {
                <tr>
                    <td><strong>Previous University Regn. No.</strong></td>
                    <td colspan="4">
                        <strong>
                            @Model.PreviousUniversityRegnNo
                        </strong>
                    </td>
                </tr>
            }
        </table>

        @if (Model.AcademicDetails.IsNotNullOrEmpty())
        {
            <h3>Academic Details</h3>
            <table>
                <tr>
                    <th>Exam Name</th>
                    <th>Stream</th>
                    <th>Session</th>
                    <th>Year</th>
                    <th>Roll No</th>
                    <th>Max Marks</th>
                    <th>Marks Obt</th>
                    <th>%age</th>
                    @if (Model.AcademicDetails.Any(x => x.OverAllCGPA.HasValue))
                    {
                        <th>OverAllCGPA</th>
                    }
                </tr>
                @if (Model.AcademicDetails != null)
                {
                    foreach (var item in Model.AcademicDetails)
                    {
                        <tr>
                            <td rowspan="2">@item.ExamName</td>
                            <td>@item.Stream</td>
                            <td>@item.Session</td>
                            <td>@item.Year</td>
                            <td>@item.RollNo</td>
                            <td>@item.MaxMarks</td>
                            <td>@item.MarksObt</td>
                            <td>@item.Percentage</td>
                            @if (item.OverAllCGPA.HasValue)
                            {
                                <td>@item.OverAllCGPA</td>
                            }
                        </tr>
                        <tr>
                            @if (Model.IsLateralEntry)
                            {
                                <td colspan="4"><b>Subjects/Branch</b>: @item.Subjects</td>
                            }
                            else
                            {
                                <td colspan="4"><b>Subjects</b>: @item.Subjects</td>
                            }
                            <td colspan="4"><b>Exam Body</b>: @item.ExamBody</td>
                        </tr>
                    }
                }
            </table>
        }

        <div>
            <h3>Courses Applied</h3>
            <table>
                <tr>
                    <th style="width:60px">
                        S.No.
                    </th>
                    <th>
                        Course Name
                    </th>
                    @if ((Model.CoursesApplied?.Any(x => x.Preference != 0) ?? false))
                    {
                        <th style="width:180px">
                            Preference
                        </th>
                    }
                    @if ((Model.CoursesApplied?.Any(x => x.SubjectCGPA.HasValue) ?? false))
                    {
                        <th style="width:180px">
                            Credit obt.
                        </th>
                    }
                </tr>

                <tbody>
                    @{int sno = 1;}
                    @foreach (var item in Model.CoursesApplied ?? new List<CUSrinagar.Models.ARGCoursesApplied>())
                    {
                        <tr class="dontbreakInside">
                            <td> @sno.</td>
                            <td>
                                <strong> @item.CourseName</strong>
                                @if (Model.IsLateralEntry)
                                {
                                    <text> (Lateral Entry)</text>
                                }
                            </td>
                            @if ((Model.CoursesApplied?.Any(x => x.Preference != 0) ?? false))
                            {
                                <th>@item.Preference</th>
                            }
                            @if ((Model.CoursesApplied?.Any(x => x.SubjectCGPA.HasValue) ?? false))
                            {
                                <th>@item.SubjectCGPA</th>
                            }

                            @{courseNames += item.CourseName + ", "; }
                            @{sno++;}
                        </tr>
                    }
                </tbody>

            </table>

            <br />
        </div>
        <div class="dontbreakInside" style="width:100% !important">
            <h3>Declaration by the Applicant</h3>
            <p style="width:100%;text-align:justify">
                I hereby declare that all statements made in this application form are true and the copies of the testimonials

                enclosed are genuine to the best of my knowledge, and in case the above information or my eligibility is found incorrect at any

                stage my Admission & Application Form shall be rejected summarily without any notice in this regard..

                <br /><br />
                <span class="pull-left ">Place:<br />Dated :</span>

                <strong class="pull-right">
                    <br />
                    Signature of the Applicant
                </strong>
            </p>
        </div>
        <p class="breakpagehere"></p>
        @if (((ViewBag.AppliedFor + "").ToLower().Trim() == "graduation") && 1 == 0)
        {
            <div class="dontbreakInside">
                <div class="center">
                    <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                    <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" class="pull-left" style="width:90px;height:68px;" />
                    <img src="@QRImgSrc" class="pull-left" />
                    <img src="/Content/ThemePublic/PrintImages/JKB.jpg" class="pull-right" style="width:180px;height:60px;" />
                    <h3 style="margin:0 !important;padding-bottom:0 !important">College Copy</h3>
                    <strong style="text-align:center">
                        Admission / Registration @Model.Batch
                        @programmeApplied
                    </strong>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td style="width:130px"><b>College FullName</b></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Form No.</td>
                            <td>@Model.StudentFormNo</td>
                            <td style="width:100px"><b>Account No.</b></td>
                            <td><b></b></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>@Model.FullName</td>
                            <td>Parentage</td>
                            <td>@Model.FathersName</td>
                        </tr>

                        <tr>
                            <td>Courses Applied</td>
                            <td>@courseNames</td>
                            <td>Contact</td>
                            <td>@Model.StudentAddress.Mobile</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>&#8377; </td>
                            <td>Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <br />
                                Signature of Applicant
                            </td>
                            <td colspan="2" class="center">
                                <br />
                                Bank Seal and Sign
                            </td>
                        </tr>
                    </tbody>


                </table>
            </div>
            <br />
            <fieldset class="center" style="border:0;border-top:1px dashed black;">
                <legend>Cut here</legend>
            </fieldset>

            <div class="dontbreakInside">
                <div class="center">
                    <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                    <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" class="pull-left" style="width:90px;height:68px;" />
                    <img src="@QRImgSrc" class="pull-left" />
                    <img src="/Content/ThemePublic/PrintImages/JKB.jpg" class="pull-right" style="width:180px;height:60px;" />
                    <h3 style="margin:0 !important;padding-bottom:0 !important">Student Copy</h3>
                    <strong style="text-align:center">
                        Admission / Registration @Model.Batch
                        @programmeApplied
                    </strong>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td style="width:130px"><b>College FullName</b></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Form No.</td>
                            <td>@Model.StudentFormNo</td>
                            <td style="width:100px"><b>Account No.</b></td>
                            <td><b></b></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>@Model.FullName</td>
                            <td>Parentage</td>
                            <td>@Model.FathersName</td>
                        </tr>

                        <tr>
                            <td>Courses Applied</td>
                            <td>@courseNames</td>
                            <td>Contact</td>
                            <td>@Model.StudentAddress.Mobile</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>&#8377; </td>
                            <td>Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <br />
                                Signature of Applicant
                            </td>
                            <td colspan="2" class="center">
                                <br />
                                Bank Seal and Sign
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <fieldset class="center" style="border:0;border-top:1px dashed black;">
                <legend>Cut here</legend>
            </fieldset>

            <div class="dontbreakInside">
                <div class="center">
                    <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                    <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" class="pull-left" style="width:90px;height:68px;" />
                    <img src="@QRImgSrc" class="pull-left" />
                    <img src="/Content/ThemePublic/PrintImages/JKB.jpg" class="pull-right" style="width:180px;height:60px;" />
                    <h3 style="margin:0 !important;padding-bottom:0 !important">Bank Copy</h3>
                    <strong style="text-align:center">
                        Admission / Registration @Model.Batch
                        @programmeApplied
                    </strong>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td style="width:130px"><b>College FullName</b></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Form No.</td>
                            <td>@Model.StudentFormNo</td>
                            <td style="width:100px"><b>Account No.</b></td>
                            <td><b></b></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>@Model.FullName</td>
                            <td>Parentage</td>
                            <td>@Model.FathersName</td>
                        </tr>

                        <tr>
                            <td>Courses Applied</td>
                            <td>@courseNames</td>
                            <td>Contact</td>
                            <td>@Model.StudentAddress.Mobile</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>&#8377; </td>
                            <td>Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <br />
                                Signature of Applicant
                            </td>
                            <td colspan="2" class="center">
                                <br />
                                Bank Seal and Sign
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        @{
            if (Model.PaymentDetail.IsNotNullOrEmpty())
            {
                <div>
                    @*<div class="dontbreakInside">
                            <div class="center">
                                <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                                <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" class="pull-left" style="width:90px;height:68px;" />
                                <img src="@QRImgSrc" class="pull-right" />
                                <h3 style="margin:0 !important;padding-bottom:0 !important">University Copy</h3>
                                <strong style="text-align:center">
                                    Admission / Registration @Model.Batch
                                    @if (Model.IsLateralEntry)
                                    {
                                        <text>(Engineering (Lateral Entry))</text>
                                    }
                                    else
                                    {
                                        <text>(@ViewBag.AppliedFor.Replace(" / Engineering", "")) </text>
                                    }
                                </strong>
                            </div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="text-align:right"><strong>Form No. : @Model.StudentFormNo &nbsp;&nbsp;</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Name  </td>
                                        <td colspan="2">  @Model.FullName</td>
                                        <td>Father's Name  </td>
                                        <td colspan="2">  @Model.FathersName</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No. </td>
                                        <td colspan="2">  @Model.StudentAddress.Mobile</td>
                                        <td>Email  </td>
                                        <td colspan="2">  @Model.StudentAddress.Email.ToLower()</td>
                                    </tr>
                                    <tr style="border:0 !important;padding:0">
                                        <td style="border:0 !important;padding:0" colspan="6">
                                            <table style="width:100%;border:0">
                                                <tr>
                                                    <td><strong>TxnReference No. </strong></td>
                                                    <th>Dated  </th>
                                                    <th><strong>Amount Paid</strong></th>
                                                </tr>
                                                @foreach (var item in Model.PaymentDetail)
                                                {
                                                    <tr>
                                                        <td><strong> @item.TxnReferenceNo</strong></td>
                                                        <th>  @item.TxnDate.ToString("dd-MM-yyyy")</th>
                                                        <th> &#x20b9; @item.TxnAmount</th>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="center">
                                            <br />
                                            <br />
                                            Signature of dealing Officer
                                        </td>
                                        <td colspan="3" class="center">
                                            <br />
                                            <br />
                                            Signature of Applicant
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <br />
                        <br />
                        <fieldset class="center" style="border:0;border-top:1px dashed black;">
                            <legend>Cut here</legend>
                        </fieldset>
                        <br />
                        <br />*@
                </div>
                <div class="dontbreakInside">
                    <div class="center">
                        <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                        <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" class="pull-left" style="width:90px;height:68px;" />
                        <img src="@QRImgSrc" class="pull-right" />
                        <h3 style="margin:0 !important;padding-bottom:0 !important">Student Copy</h3>
                        <strong style="text-align:center">
                            Admission / Registration @Model.Batch
                            @programmeApplied
                        </strong>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="6" style="text-align:right"><strong>Form No. : @Model.StudentFormNo &nbsp;&nbsp;</strong></td>
                            </tr>
                            <tr>
                                <td>Name  </td>
                                <td colspan="2">  @Model.FullName</td>
                                <td>Father's Name  </td>
                                <td colspan="2">  @Model.FathersName</td>
                            </tr>
                            <tr>
                                <td>Contact No. </td>
                                <td colspan="2">  @Model.StudentAddress.Mobile</td>
                                <td>Email  </td>
                                @if (!string.IsNullOrWhiteSpace(Model.StudentAddress.Email))
                                {
                                    <td colspan="2">  @Model.StudentAddress.Email.ToLower()</td>
                                }
                                else
                                {
                                    <td colspan="2">no email</td>
                                }
                            </tr>
                            <tr style="border:0 !important;padding:0">
                                <td style="border:0 !important;padding:0" colspan="6">
                                    <table style="width:100%;border:0">
                                        <tr>
                                            <td><strong>TxnReference No. </strong></td>
                                            <th>Dated  </th>
                                            <th><strong>Amount Paid</strong></th>
                                        </tr>
                                        @foreach (var item in Model.PaymentDetail)
                                        {
                                            <tr>
                                                <td><strong> @item.TxnReferenceNo</strong></td>
                                                <th>  @item.TxnDate.ToString("dd-MM-yyyy")</th>
                                                <th> &#x20b9; @item.TxnAmount</th>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="center">
                                    @*<br />
                                        <br />
                                        Signature of dealing Officer*@
                                </td>
                                <td colspan="3" class="center">
                                    <br />
                                    <br />
                                    Signature of Applicant
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
        <br />
        <br />
        @*@if (((ViewBag.AppliedFor + "").ToLower().Trim() == "graduation"))
            {
                <br />
                <br />
                <div>
                    <p class="breakpagehere"></p>
                    <img src="@Url.Content("~/Content/ThemePublic/Libraries/images/ElectionComissionOfIndia/ECIFormPage1.jpg")" style="width:100%" />
                    <br />
                    <p class="breakpagehere"></p>
                    <img src="@Url.Content("~/Content/ThemePublic/Libraries/images/ElectionComissionOfIndia/ECIFormPage2.jpg")" style="width:100%" />
                </div>
                <br />
                <br />
                <br />
            }*@
    </div>
    @if (Model.StudentFormNo.ToLower() != "preview")
    {
        <div class="noneOnPrint" style="margin-left:-14px;height:40px;background-color:lightslategrey;width:100%;position:fixed;bottom:0;z-index:100;text-align:center;padding-top:10px">
            @Html.ActionLink("Go Back", "Instructions", "Registration", null, new { style = "color:white;" })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button style="height: 32px;" href="#" class="btn btn-theme" onclick="window.print();"><b>Download or Print</b></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a style="height: 32px;color:white" href="https://www.wikihow.com/Save-a-Web-Page-as-a-PDF-in-Google-Chrome" target="_blank"><b>See How to Save as PDF</b></a>
        </div>
    }
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/Libraries/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Content/ThemePublic/Libraries/disableBack.js")"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            setTimeout(function () {
                if ((document.referrer.toLowerCase().indexOf("/graduation") !== -1) && '@Model.StudentFormNo.ToLower()' != "preview") {
                    alert("Form Submitted Successfully \nEmail with DOB and Form No. has been sent to @Model.StudentAddress.Email");
                } else if ('@MessageForAlert' !== ''){
                    alert('@MessageForAlert');
                }
            }, 2000);
        });
    </script>

</body>
</html>