
@model  CUSrinagar.Models.SelectedStudentDetail
@{ Layout = null;
    int OMSeats = ViewBag.OMSeats;
    int ListNo = ViewBag.CurrentListNo;
    List<CUSrinagar.Models.SelectedStudentInfo> catList = new List<CUSrinagar.Models.SelectedStudentInfo>();
    catList.AddRange(Model.selectedStudentInfo);
    if (catList.Count() > 0 && catList.Count() > OMSeats)
    { catList.RemoveRange(0, OMSeats); }
    else
    { catList.RemoveRange(0, catList.Count()); }
    int serialno = 1;
    int currentlistno = ViewBag.CurrentListNo ?? 1;
}

@*Begin Selection List*@
<input type="text" id="CurrentListNo" class="hidden" value="@currentlistno" />
<div id="selectionlist">
    <div id="confirm" class="modal hide fade">
        <div class="modal-body">
            Are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="release">Ok</button>
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        </div>
    </div>
    @Html.Hidden("PrintPRogramme",(int)CUSrinagar.Enums.PrintProgramme.IH)
    <table class="table table-hover table-bordered js-table">
        <thead style="white-space: nowrap;">
            <tr>
                <th>S.No.</th>
                <th>FORM NO</th>
                <th>Name</th>
                <th>Father's Name</th>
                <th>Category</th>
                @*<th class="hidden-print">Admitted at College</th>
                    <th class="hidden-print">Admitted in Course</th>*@
                <th>Academic Merit</th>
                <th>Preference</th>
                @*<th class="hidden-print">Academic Points</th>
                    <th class="hidden-print">Sub Points</th>*@
                @*<th>Points</th>*@

                <th class="hidden-printt">Status</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.selectedStudentInfo != null && Model.SeatCountAgainstCourseList != null)
            {
                int serialall = 0;
                int count = 1;
                string cat = "OM";
                foreach (var row in Model.selectedStudentInfo)
                {
                    serialall++;
                    string classIS = "";
                    string classHigh = "";
                    if (row.SelectionAgaintListNo != ListNo)
                    { classIS = "hiddens"; }
                    if (row.Percentage < 45)
                    { classHigh = "Highlight"; }
                    if (row.Category != "OM" && count > Model.SeatCountAgainstCourseList.Where(x => x.Category == "OM").FirstOrDefault().AllocatedSeats)
                    {
                        if (row.Category != cat)
                        {
                            <tr>
                                <td colspan="10">
                                    Category @row.Category
                                </td>
                            </tr>
                        }
                    }
                    <tr class="@classIS @classHigh">
                        <td class="js-sno"></td>
                        <td>
                            @row.StudentFormNo

                        </td>
                        <td>
                            @row.FullName
                        </td>
                        <td>
                            @row.FathersName
                        </td>

                        @*<td class="hidden-print">
                                @if (string.IsNullOrEmpty(row.CollegeFullName))
                                {<span class="green">Not Any</span> }
                                else
                                {<span class="red"> @row.CollegeFullName</span>}

                            </td>
                            <td class="hidden-print">
                                @row.AlreadyCourse

                            </td>*@
                        <td class="center">
                            @row.Category

                        </td>
                        <td>
                            @row.Percentage.ToString("F2")

                        </td>
                        <td>@row.Preference</td>

                        @*<td class="hidden-print">
                                @row.AcademicPoints

                            </td>
                            <td class="hidden-print">
                                @row.SubjectEntrancePoints

                            </td>
                            <td>
                                <b> @row.TotalPoints</b>

                            </td>*@




                        @*<td class="hidden-printt">
                                @if (row.isTie)
                                {<span class="btn-danger" id="Status_@serialall">Tie</span> }
                                else
                                {<span id="Status_@serialall" class="green">
                                        @row.StudentSelectionStatus
                                    </span>}
                                @if (row.isNew)
                                {<img style="width:30px" src="/Content/ThemePublic/PrintImages/new.gif" class="hidden-print">}
                                @if (row.StudentSelectionStatus == CUSrinagar.Enums.StudentSelectionStatus.Provisional)
                                {<button class="hidden-print btn btn-primary ReleaseORAdmitSeat" data-id="@row.Student_ID" data-serial="@serialall" data-rollno="@row.EntranceRollNo" data-type="@CUSrinagar.Enums.StudentSelectionStatus.Joined">Admit</button>}
                                else if (row.StudentSelectionStatus == CUSrinagar.Enums.StudentSelectionStatus.Joined)
                                {<button class="hidden-print btn btn-danger ReleaseORAdmitSeat" data-id="@row.Student_ID" data-serial="@serialall" data-rollno="@row.EntranceRollNo" data-type="@CUSrinagar.Enums.StudentSelectionStatus.Rejected">Cancel Admission</button>}
                            </td>*@

                        <td class="hidden-printt">
                            @if (row.ISFinallySelected)
                            {
                                <span class="green">Selected</span>
                            }
                            else
                            {
                                <button class="btn btn-sm jsIsSelected" value="@row.Student_ID">Select</button>
                            }
                        </td>
                    </tr>
                    cat = row.Category;
                    count++;
                    if (row.SelectionAgaintListNo == ListNo)
                    { serialno++; }
                    if (count > OMSeats)
                    { break; }
                }
                // string cat = "OM";
                foreach (var row in catList)
                {
                    serialall++;
                    if (row.Category != cat)// && catList.Where(x => x.Category == row.Category && x.SelectionAgaintListNo == ListNo).Count() > 0)
                    {
                        <tr>
                            <td colspan="10">
                                Category @row.Category
                            </td>
                        </tr>
                    }
                    string classIS = "";
                    string classHigh = "";
                    if (row.SelectionAgaintListNo != ListNo)
                    { classIS = "hiddens"; }
                    if (row.Percentage < 45)
                    { classHigh = "Highlight"; }
                    <tr class="@classIS @classHigh">
                        <td class="js-sno"></td>
                        <td>
                            @if (row.IsProvisional)
                            {<i class="fa fa-check-square-o btn-yellow"></i>}
                            @row.EntranceRollNo

                        </td>
                        <td>
                            @row.FullName
                        </td>
                        <td>
                            @row.FathersName
                        </td>

                        @* <td class="hidden-print">
                                @if (string.IsNullOrEmpty(row.CollegeFullName))
                                {<span class="green">Not Any</span> }
                                else
                                {<span class="red"> @row.CollegeFullName</span>}

                            </td>
                            <td class="hidden-print">
                                @row.AlreadyCourse

                            </td>*@
                        <td class="center">
                            @row.Category

                        </td>
                        <td class="hidden-print">
                            @row.Percentage.ToString("F2")

                        </td>

                        <td class="hidden-print">
                            @row.AcademicPoints

                        </td>
                        <td class="hidden-print">
                            @row.SubjectEntrancePoints

                        </td>

                        <td>
                            <b> @row.TotalPoints</b>

                        </td>




                        <td class="hidden-printt">
                            @if (row.isTie)
                            {<span class="btn-danger" id="Status_@serialall">Tie</span> }
                            else
                            {<span id="Status_@serialall" class="green">
                                    @row.StudentSelectionStatus
                                </span>}
                            @if (row.isNew)
                            {<img style="width:30px" src="/Content/ThemePublic/PrintImages/new.gif" class="hidden-print">}
                            @if (row.StudentSelectionStatus == CUSrinagar.Enums.StudentSelectionStatus.Provisional)
                            {<button class="btn btn-primary hidden-print ReleaseORAdmitSeat" data-id="@row.Student_ID" data-rollno="@row.EntranceRollNo" data-serial="@serialall" data-type="@CUSrinagar.Enums.StudentSelectionStatus.Joined">Admit</button>}
                            else if (row.StudentSelectionStatus == CUSrinagar.Enums.StudentSelectionStatus.Joined)
                            {<button class="hidden-print btn btn-danger ReleaseORAdmitSeat" data-id="@row.Student_ID" data-rollno="@row.EntranceRollNo" data-serial="@serialall" data-type="@CUSrinagar.Enums.StudentSelectionStatus.Rejected">Cancel Admission</button>}

                        </td>
                    </tr>

                    cat = row.Category;
                    if (row.SelectionAgaintListNo == ListNo)
                    { serialno++; }
                }

            }
        </tbody>
    </table>

    <br />
    <table width="100%" class="visible-print">
        <tr>
            <td><small>Asstt. Registrar</small></td>
            <td class="align-right"><small>Dean Academic Affairs</small></td>
        </tr>
    </table>
</div>
@*end Selection List*@


@*Begin Matrix*@
<div id="matrixlist" class="hidden">
    <table class="table table-hover table-bordered js-table">
        <thead style="white-space: nowrap;">
            <tr>
                <th>Category</th>
                <th>Percentage</th>
                <th>Seats to be Alloted</th>
                <th>Seats Alloted</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var SeatCount in Model.seatCount)
            {
                decimal seatalloted = SeatCount.SeatsAssigned;
                <tr>
                    <td>@SeatCount.CategoryCode</td>
                    <td>@SeatCount.Percentage.ToString("F2") %</td>
                    <td>@SeatCount.SeatsAvailable </td>
                    <td>@SeatCount.SeatsAssigned</td>
                </tr>

            }
        </tbody>
    </table>
    @*  <br />
            <h4 class="align-center"><b>Seat Matrix</b></h4>
            <table class="table table-hover table-bordered js-table">
                <thead style="white-space: nowrap;">
                    <tr>
                        <th>Category</th>
                        <th>Seats Available</th>
                        <th>Roll No</th>
                        <th>Points</th>
                    </tr>
                </thead>

             <tbody>

                    @foreach (var student in Model.ALLCatFractionList ?? new List<CUSrinagar.Models.SelectedStudentInfo>())
                    {
                        decimal SEATAVAILABLE = Model.seatCount.Where(X => X.CategoryCode == student.Category)?.FirstOrDefault()?.SeatsAvailable ?? 0m;
                        decimal fractionPart = (SEATAVAILABLE - Math.Truncate(SEATAVAILABLE));

                        <tr>
                            <td>@student.Category</td>
                            <td> @fractionPart</td>
                            <td>@student.EntranceRollNo</td>
                            <td>@student.TotalPoints</td>

                        </tr>


                    }
                </tbody>
        </table>*@
</div>
@*end Matrix*@

<style>
    .Highlight {
        background-color: #a9e2a8;
    }
</style>

<script>
  
</script>