@model CUSrinagar.Models.ADMCourseMaster

@{
    ViewBag.Title = "Update Selection List - CUSrinagar";
}
<div class="page-wrapper pager-table-text">
    <div class="page-content">
        <div class="row page-row">
            <div class="content-wrapper col-md-10 col-sm-8"></div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    @if (TempData["response"] != null)
                    {
                        @Html.Raw(TempData["response"])
                    }
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-send"></i> Update Selection List
                        </h3>
                    </div>
                    @using (Html.BeginForm("UpdateSelectionList", "SeatAllocation", FormMethod.Post, new { @id = "JsForm", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">
                                    <span class="red bigger-110">*</span> @Html.LabelFor(model => model.Programme)
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => x.Programme, (IEnumerable<SelectListItem>)ViewBag.Programme, string.Empty, new { @class = "chosen-select" })
                                    @Html.ValidationMessageFor(x => x.Programme)
                                </div>
                            </div>

                          

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">
                                    <span class="red bigger-110">*</span> @Html.LabelFor(model => model.Course_ID)
                                </label>
                                <div class="col-sm-8 jsDDLContainer">
                                    <span id="CourseIDDiv">
                                        @Html.DropDownListFor(x => x.Course_ID, (IEnumerable<SelectListItem>)ViewBag.Courses, new { @class = "chosen-select", @style = "width:80%;", })
                                    </span>
                                    @Html.ValidationMessageFor(x => x.Course_ID)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">
                                     @Html.LabelFor(model => model.CurrentSelectionListNo)
                                </label>
                                <div class="col-sm-8" >
                                    <span id="CurrentSelectionListNo"> @ViewBag.ListNo</span>
                                </div>
                            </div>

                           


                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">

                                </label>
                                <div class="col-sm-6 ">
                                    <div class="col-sm-1" style="padding-top: 17px;">
                                        <button type="submit" class="btn btn-primary ">&nbsp; Generate New List</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section PageSpecificStyle{
    <style>
        .filter-btn a {
            color: white !important
        }

        .required {
            color: black;
        }

        .field-validation-error {
            color: red !important;
        }

        input[type='text'] {
            width: 300px !important;
        }

        .multiselect-container {
            max-height: 300px !important;
        }

        @@media screen and (max-width: 600px) {
            .multiselect-container {
                max-width: 200% !important;
            }

            #SMSRegarding, #OtherPhoneNo, #Message {
                width: 100% !important;
            }
        }
    </style>
}
@section PageSpecificJS
{
    @Scripts.Render("~/bundles/Libraries/jqueryval")
    @*  <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/SMS/JSSMS.js")"></script>*@
    <script>
        $("body").on("change", "#JsForm #Programme", function () {
            var programmeElement = $("#JsForm #Programme");
           
            var prog = programmeElement.val();
            $.ajax({
                async: true,
                url: "/CUSrinagarAdminPanel/SeatAllocation/_GetCoursesDDL",
                type: "POST",
                data: JSON.stringify({
                    Programme: prog,
                }),
                datatype: "html",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#CourseIDDiv").empty().html(response);
                    ChosenStyle();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('status code: ' + jqXHR.status + '\n Please check your internet connection or refresh and try again.');
                }
            });
          

        });
        $("body").on("change", "#JsForm #Course_ID", function () {
            var courseElement = $("#JsForm #Course_ID");

            var course = courseElement.val();
            $.ajax({
                async: true,
                url: "/CUSrinagarAdminPanel/SeatAllocation/_GetCoursesListNo",
                type: "POST",
                data: JSON.stringify({
                    Course_ID: course,
                }),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#CurrentSelectionListNo").empty().html(response);
                  },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('status code: ' + jqXHR.status + '\n Please check your internet connection or refresh and try again.');
                }
            });


        });
    </script>
}
