@model IEnumerable<CUSrinagar.Models.ResultList>
@using CUSrinagar.Enums
<table class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th title="Serial Number">No</th>
            <th data-property="CourseFullName">Course</th>
            <th title="Examination Roll Number" data-property="ExamRollNumber">E Roll No</th>
            <th class="wd-140" data-property="CUSRegistrationNo">Registration No</th>
            <th data-property="ClassRollNo" title="Class roll number">Roll No</th>
            <th data-property="FullName">Full Name</th>
            <th data-property="SubjectFullName">Subject</th>

            <th title="Internal Marks" data-property="InternalMarks">Int</th>
            <th title="Internal Attedance/Assessment Marks" data-property="InternalAttendance_AssessmentMarks">Int.A</th>
            <th title="External Attendance/Assessment Marks" data-property="ExternalAttendance_AssessmentMarks">Ext.A</th>

            <th title="External Marks" data-property="ExternalMarks">Ext</th>
            <th title="Set New notification">Is New</th>
            @*<th title="Internal Submitted">Int Sub</th>
                <th title="External Submitted">Ext Sub</th>*@
            <th>Action  </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="jsRowAction">
                    <td>
                        <span class="js-sno"></span>
                        <input type="hidden" value="@item.Programme" name="Programme" />
                        <input type="hidden" value="@(item._ID == Guid.Empty ? RecordState.New : RecordState.Old)" name="RecordState" />
                        <input type="hidden" value="@item.Semester.ToString()" name="Semester" />
                        <input type="hidden" value="@item.Student_ID.ToString()" name="Student_ID" />
                        <input type="hidden" value="@item.Subject_ID.ToString()" name="Subject_ID" />
                        <input type="hidden" value="@item._ID" name="_ID" />
                        <input type="hidden" value="@item.InternalSubmitted.ToString()" name="InternalSubmitted" />
                        <input type="hidden" value="@item.ExternalSubmitted.ToString()" name="ExternalSubmitted" />
                    <td>@item.CourseFullName</td>
                    <td>@item.ExamRollNumber</td>
                    <td>@item.CUSRegistrationNo</td>
                    <td>@item.ClassRollNo</td>
                    <td>@item.FullName</td>
                    <td>@item.SubjectFullName</td>
                    <td title="Internal marks obtained">
                        @if (item.IsInternalMarksApplicable)
                        {
                            <input type="number" max="@item.InternalMaxMarks" name="InternalMarks" value="@item.InternalMarks" class="form-control jsfocus" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.InternalMarks" name="InternalMarks" />
                        }
                    </td>
                    <td title="Internal attend/assessment marks">
                        @if (item.IsInternalAttendance_AssessmentMarksApplicable)
                        {
                            <input type="number" max="@item.InternalAttendance_AssessmentMaxMarks" name="InternalAttendance_AssessmentMarks" value="@item.InternalAttendance_AssessmentMarks" class="form-control " />
                        }
                        else
                        {
                            <input type="hidden" value="@item.InternalAttendance_AssessmentMarks" name="InternalAttendance_AssessmentMarks" />
                        }
                    </td>
                    <td title="External attend/assessment marks">
                        @if (item.IsExternalAttendance_AssessmentMarksApplicable)
                        {
                            <input type="number" max="@item.ExternalAttendance_AssessmentMaxMarks" name="ExternalAttendance_AssessmentMarks" value="@item.ExternalAttendance_AssessmentMarks" class="form-control" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.ExternalAttendance_AssessmentMarks" name="ExternalAttendance_AssessmentMarks" />
                        }
                    </td>
                    <td title="External marks">
                        @if (item.IsExternalMarksApplicable)
                        {
                            <input type="number" max="@item.ExternalMaxMarks" name="ExternalMarks" value="@item.ExternalMarks" class="form-control" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.ExternalMarks" name="ExternalMarks" />
                        }
                    </td>
                    <td class="center">
                        <input type="hidden" value="@item.ResultNotification_ID.ToString()" name="ResultNotification_ID" />
                        <input type="hidden" value="@item.ResultNotification_ID.ToString()" class="jsResultNotification_ID" />
                        <input type="hidden" value="@item.ExamForm_ID.ToString()" name="ExamForm_ID" />
                        <input type="hidden" value="@item.ExamForm_ID.ToString()" class="jsExamForm_ID" />
                        <div class="form-group" title="Set New notification">
                            <div class="checkbox">
                                <label class="block">
                                    <input type="checkbox" class="ace input-lg jsNewResult" />
                                    <span class="lbl bigger"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                    @*<td class="center">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="block">
                                        <input type="checkbox" class="ace input-lg" @(item.InternalSubmitted ? "Checked='checked'" : "") />
                                        <span class="lbl bigger"></span>
                                        <input type="hidden" name="InternalSubmitted" value="@item.InternalSubmitted.ToString()" />
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="center">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="block">
                                        <input type="checkbox" class="ace input-lg" @(item.ExternalSubmitted ? "Checked='checked'" : "") />
                                        <span class="lbl bigger"></span>
                                        <input type="hidden" name="ExternalSubmitted" value="@item.ExternalSubmitted.ToString()" />
                                    </label>
                                </div>
                            </div>
                        </td>*@
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="display:inline-flex;">
                                    <button type="button" class="btn btn-white warning js-save-row" title="@(item.ResultNotification_ID.HasValue && item.ResultNotification_ID!=Guid.Empty? "Save(Result already declared)":"Save")">
                                        <i class='ace-icon fa fa-floppy-o blue js-save-row' style="@(item.ResultNotification_ID.HasValue && item.ResultNotification_ID!=Guid.Empty? "color:brown !important":"")"></i>
                                    </button>

                                    <button title="Cancel changes" type="button" class="btn btn-white js-cancel-row">
                                        <i class="ace-icon fa fa-times red2 js-cancel-row"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
