

    <div id="awards-carousel">
        <div>
            <h1 class="section-heading text-highlight text-center">
                <span class="line">Constituent Colleges</span>
                <a style="font-size:16px" href="~/Home/Enrollments" class="pull-right">View-Enrollments</a>
            </h1>
            <div class="item active">
                <ul class="logos">
                    <li class="col-md-1 col-sm-1 col-xs-2"></li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <div class="center-block">
                            <a href="http://spcollege.edu.in/" target="_blank">
                                <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/banners/SPC.jpg")' a alt="" />
                                <span><b>Sri Pratap College</b> </span><br />
                                <small>M.A.Road,Srinagar</small>
                            </a>
                            @*<h3 style="border:1px solid #CCC; padding:5px;">@Model[0].SPC</h3>*@

                        </div>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <div class="center-block">
                            <a href="https://www.amarsinghcollege.ac.in/" target="_blank">
                                <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/banners/ASC.jpg")' a alt="" />
                                <span><b>Amar Singh College</b> </span>
                                <small>Gogjibagh, Srinagar</small>
                            </a>
                            @*<h3 style="border:1px solid #CCC; padding:5px;">@Model[0].ASC</h3>*@
                        </div>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <div class="center-block">
                            <a href="https://gdcbemina.edu.in/" target="_blank">
                                <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/banners/AAA.jpg")' a alt="" />
                                <span><b>Abdul Ahad Azad</b> </span><br />
                                <small>Degree College,Bemina</small>
                            </a>
                            @*<h3 style="border:1px solid #CCC; padding:5px;">@Model[0].AAA</h3>*@
                        </div>
                    </li>

                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <div class="center-block">
                            <a href="http://www.gcwmaroad.edu.in/" target="_blank">
                                <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/banners/GWC.jpg")' alt="" alt="" />
                                <span><b>Govt College Women</b> </span><br />
                                <small>M.A.Road,Srinagar</small>
                            </a>
                            @*<h3 style="border:1px solid #CCC; padding:5px;">@Model[0].GWC</h3>*@
                        </div>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <div class="center-block">
                            <a href="http://www.gcoekmr.org/" target="_blank">
                                <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/banners/IASE.jpg")' alt="" />
                                <span><b>Inst. of Adv. Studies </b> </span><br />
                                <small>M.A.Road,Srinagar</small>
                            </a>
                            @*<h3 style="border:1px solid #CCC; padding:5px;">@Model[0].IASE </h3>*@
                        </div>
                    </li>
                </ul><!--//slides-->
                
            </div><!--//item-->
        </div><!--//carousel-inner-->
        <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#awards-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

