
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5"><h2 class="text-center" style="padding-bottom:15px;color:#365d7e">Administration</h2></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/ManojSinha.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Sh. Manoj Sinha</strong>
                        <p style="font-size:18px">Chancellor</p>
                    </div>
                </div>

                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/VC2021.jpeg")' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. (Dr.) Qayyum Husain</strong>
                        <p style="font-size:18px">Vice Chancellor</p>
                    </div>
                </div>


                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='https://jobs.cusrinagar.edu.in/Content/Recruitment/FormPhotos/90104a51-b2e0-4d8d-bce5-f6901a76ab04.jpg' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. (Dr.) Syed Wilayat Hussain Rizvi</strong>
                        <p style="font-size:18px">Registrar</p>
                    </div>
                </div>


                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/DAA.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. Mushtaq Ahmad Lone</strong>
                        <p style="font-size:18px">Dean Academics</p>
                    </div>
                </div>

                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/controller.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. Khurshid Ahmad Mir</strong>
                        <p style="font-size:18px">Controller of Examinations</p>
                    </div>
                </div>

                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/AR.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Gulzar Ahmad</strong>
                        <p style="font-size:18px">Assistant Registrar</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <a style="border:1px dashed orange" class="btn btn-primary btn-block btn-link-breaked"
                   href="/Home/Contacts">
                    <strong>
                        Directory
                    </strong>
                </a>
                <a style="border:1px dashed orange" class="btn btn-danger btn-block btn-link-breaked"
                   href="/Notification/Notification?TypeIS=ORDERS">
                    <strong>
                        Orders
                    </strong>
                </a>
                <button style="border:1px dashed orange" class="btn btn-primary btn-block btn-link-breaked"
                        onclick='window.open("/FolderManager/Downloads/NodalOfficersCoordinators.pdf", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=30,width=1000,right=500,height=800");'>
                    <strong>
                        List of Nodal Officers/Coordinators framed by the University
                    </strong>
                </button>
                <button style="border:1px dashed orange" class="btn btn-primary btn-block btn-link-breaked"
                        onclick='window.open("/FolderManager/Downloads/CoordinatorsIncharge.pdf", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=30,width=1000,right=500,height=800");'>

                    <strong>
                        List of Coordinators/Incharge Coordinators for IG / PG Programmes in Constituent Colleges
                    </strong>
                </button>
                <br />
                @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5"><h2 class="text-center" style="padding-bottom:15px;color:#365d7e">Deans of Schools</h2></div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/deaneng.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Dr. Rauf Ahmad Khan</strong>
                        <p style="font-size:18px">Engineering & Technology</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/dhla.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. Deeba I.Sarmad</strong>
                        <p style="font-size:18px">Humanities & Liberal Arts</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/DeanCM.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Prof. (Dr.) G.M Lone</strong>
                        <p style="font-size:18px">Commerce &amp; Management</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/sci.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Dr.Naseer Hussain Shah</strong>
                        <p style="font-size:18px">Sciences</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/dss.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Dr. Nazir Ahmad Kotey</strong>
                        <p style="font-size:18px">Social Sciences</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/te.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Dr. Munir Ahmad Mir</strong>
                        <p style="font-size:18px">Teacher Education</p>
                    </div>
                </div>
            </div>


            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/dsw.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Dr. Shabnam Ara</strong>
                        <p style="font-size:18px">Dean Students Welfare</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5"><h2 class="text-center" style="padding-bottom:15px;color:#365d7e">Principals of Constituent Colleges</h2></div>
            </div>


            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/amarsingcollege.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:20px">
                        <strong style="font-size:18px">Prof. Sheikh  Ajaz  Bashir</strong>
                        <p style="font-size:18px">Amar Singh College , Srinagar<br />(School of Humanities &amp; Liberal Arts)</p>
                        <p style="font-size:16px"><a href="mailto:principal@amarsinghcollege.ac.in">principal@amarsinghcollege.ac.in</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/Principal_iase.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:20px">
                        <strong style="font-size:18px">Prof.(Dr.) Ruhi Jan kanth</strong>
                        <p style="font-size:18px">Govt College for Women M.A. Road, Srinagar<br />(School of Engineering &amp; Technology)</p>
                        <p style="font-size:16px"><a href="mailto:principal@gcwmaroad.edu.in">principal@gcwmaroad.edu.in</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/PrincipalSP.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:20px">
                        <strong style="font-size:18px">Prof. (Dr.) Ghulam Jeelani Qureshi</strong>
                        <p style="font-size:18px">S.P College, M.A Road, Srinagar<br />(School of Science)</p>
                        <p style="font-size:16px"><a href="mailto:spcsgr1905@gmail.com">spcsgr1905@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/AAAP.jpg")' />
                    </div>
                    <div class="col-md-7 col-sm-7" style="margin-top:20px">
                        <strong style="font-size:18px">Dr. Nazir Ahmad Simnani</strong>
                        <p style="font-size:18px">Abdul Ahad Azad Memorial College, Bemina, Srinagar<br />(School of Social Science)</p>
                        <p style="font-size:16px"><a href="mailto:gdcbemina@gmail.com">gdcbemina@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:145px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/SeemaNaz1.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:20px">
                        <strong style="font-size:18px">Prof.(Dr.) Seema Naaz</strong>
                        <p style="font-size:18px">Inst. of Adv. Studies , Srinagar<br />(School of Teacher Education)</p>
                        <p style="font-size:16px"><a href="mailto:gcoe.sgr@gmail.com">gcoe.sgr@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5"><h2 class="text-center" style="padding-bottom:15px;color:#365d7e">Finance &amp; Planning Section</h2></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/KAS.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Bilal Ahamd Bilal (KAS)</strong>
                        <p style="font-size:18px">FA/CAO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/no-image.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Ms. Humaira Shaheen</strong>
                        <p style="font-size:18px">Assistant Director Planning</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/no-image.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Sajad Ahmad Khan</strong>
                        <p style="font-size:18px">Section Officer Planning</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/accountant.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Amjad Hassan</strong>
                        <p style="font-size:18px">Accountant</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/sa.jpeg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Hamid Mir</strong>
                        <p style="font-size:18px">Statistical Assistant</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/aa.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:50px">
                        <strong style="font-size:18px">Mr. Suhail Yousif</strong>
                        <p style="font-size:18px">Accounts Assistant</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5">
                    <h2 class="text-center" style="padding-bottom:15px;color:#365d7e">
                        SPARASH Committee
                        <br />(Sensitization, Prevension and Redressal of Sexual Harassment)
                    </h2>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/Principal_iase.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:30px">
                        <strong style="font-size:18px">Dr. Ruhi Jan Kanth</strong>
                        <p style="font-size:18px">Chairperson</p>
                        <p style="font-size:16px"><a href="mailto:dean.edu@cusrinagar.edu.in">dean.edu@cusrinagar.edu.in</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5">
                    <h2 class="text-center" style="padding-bottom:15px;color:#365d7e">
                        Editorial Board Committee
                    </h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/no-image.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:30px">
                        <strong style="font-size:18px">Prof. Roohi Jan </strong>
                        <p style="font-size:18px">Chief Editor</p>
                        <p style="font-size:16px"><a href="tel:+919697020291">+91-9697020291</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5">
                    <h2 class="text-center" style="padding-bottom:15px;color:#365d7e">
                        Sports and Games Committee
                    </h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/no-image.png")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:30px">
                        <strong style="font-size:18px">Dr. Muneer Ahmad Mir</strong>
                        <p style="font-size:18px">Secretary Sports</p>
                        <p style="font-size:16px"><a href="tel:+917006581062">+91-7006581062</a></p>
                    </div>
                </div>
            </div>
        </div>
        @* --------------- Placement and induction cell ---------------------- *@
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5">
                    <h2 class="text-center" style="padding-bottom:15px;color:#365d7e">
                        Placement and Induction Cell Committee
                    </h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/PAIC.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:30px">
                        <strong style="font-size:18px">Dr. Suhail Ahmad</strong>
                        <p style="font-size:18px">Coordinator</p>
                        <p style="font-size:16px"><a href="mailto:suhail@gcwmaroad.edu.in">suhail@gcwmaroad.edu.in</a></p>
                    </div>
                </div>
            </div>
        </div>
        @* --------------- National Service Scheme ---------------------- *@
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5">
                    <h2 class="text-center" style="padding-bottom:15px;color:#365d7e">
                        National Service Scheme (NSS)
                    </h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-sm-12 thumbnail" style="padding:0 !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive"
                             style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%"
                             src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/NSSCOD.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:30px">
                        <strong style="font-size:18px">Prof. Faisal Mushtaq Kichloo</strong>
                        <p style="font-size:18px">Coordinator</p>
                        <p style="font-size:16px"><a href="mailto:nss.coordinator@cusrinagar.edu.in">nss.coordinator@cusrinagar.edu.in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "University";
</script>
