
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Gallery</h1>
    </header>
    <div class="page-content">
        <div class="row page-row">

            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="PencakSilatChampionship24"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/PencakSilatChampionship24/Inter University Pencak Silat Championship 2023-24  (9).jpeg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="PencakSilatChampionship24"})">All India Inter University Pencak Silat Championship 2023-24</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='javascript:void(0);'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/administration/facCus.jpeg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="#">Facilitating</a></h4>
                            <p>Honorable Vice Chancellor facilitating one of our students Ifla Mushtaq for her contributions  as a layout designer in the editorial team of Cluster University Srinagar</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="council"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/ADMeetings/DSC_0535.JPG")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="council"})">Academic Council Meetings</a></h4>
                            <p></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="admin"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/administration/063.jpeg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="admin"})">Administration</a></h4>
                            <p>University Statutes being handed over to administration</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="AnnualCollegeRoadRace2022"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/AnnualCollegeRoadRace2022/acf_5.jpeg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="AnnualCollegeRoadRace2022"})">Sports</a></h4>
                            <p>Annual College Road Race (Women)-2022</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="vcwelcome2021"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/vcwelcome2021/vc-welcome04 (12).jpeg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="vcwelcome2021"})">Vice Chancellor Welcome</a></h4>
                            <p>Welcome Prof. (Dr.) Qayyum Husain</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="sport"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/sports_festival/DSC_0108-min.JPG")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="sport"})">Maiden Annual Sports Festival</a></h4>
                            <p>Play for wellness and well - being</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="prize"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/prize_distribution_fest/slide-3.jpg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="prize"})">Prize Distribution</a></h4>
                            <p>Maiden Annual Sports Festival</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="quantum"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/workshop_quantum_mechnics/IMG_20170913_160219-min.jpg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="quantum"})">Deformation of Quantum Mechanics</a></h4>
                            <p>Dr Mir Faizal , Adjunct Professor University of Lethbridge, Canada</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href='@Url.Action("GalleryAlbum","Home",new { @Gallery="constitutionday2021"})'>
                            <img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/gallery/constitutionday2021/DSC_0478.jpg")' />
                        </a>
                        <div class="desc">
                            <h4><a href="@Url.Action("GalleryAlbum","Home",new { @Gallery="constitutionday2021"})">Constitution Day</a></h4>
                            <p>Flag Ceremony</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var _CurrentSection = "Gallery";
</script>