@using CUSrinagar.Extensions
@using CUSrinagar.Enums
@using CUSrinagar.Models
@using Nut

@model IEnumerable<CUSrinagar.Models.BIL_BillDetails>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Appointment Letter for Paper Setter - Cluster University Srinagar</title>
    <style type="text/css">
        @@media print {
            .noneOnPrint {
                display: none;
            }

            .pbreak {
                page-break-after: always !important;
            }
        }

        p {
            padding: 0mm;
            margin: 0mm;
        }

        .tbl {
            border-collapse: collapse;
        }

            .tbl tr, .tbl tr td, .tbl tr th {
                border: 1px solid black;
            }
    </style>
</head>
<body style="background: #e0e0e0;margin: auto;display: table;" oncontextmenu="return false;">
    @if (Model.IsNullOrEmpty())
    {
        <p style="text-align:center !important"> <strong style="font-size:18px;">No Appointment letetr found</strong></p>
    }
    else
    {
        foreach (BIL_BillDetails billsGroup in Model)
        {
            <section style="background: white;padding:0;margin: 0;overflow: hidden;box-sizing: border-box;width: 210mm;position:relative;page-break-after: always;">
                <div style="margin:0mm;margin-right: 4mm;margin-left: 4mm;margin-top:4mm;font-family:'Roboto';font-size:smaller">
                    <center>
                        <table style="">
                            <tbody>
                                <tr>
                                    <td style="text-align:left;">
                                        <img src="~/Content/ThemePublic/PrintImages/MarksSheetLogo.png" style="width:64px;" />
                                    </td>
                                    <td style="text-align:center;">
                                        <div style="margin-right:16px;">
                                            <div style="font-family: Arial, sans-serif;font-size: 6mm;font-weight: bold;position: relative;z-index: 1;display: inline-block;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;            transform: scale(1, 1.5); -webkit-transform: scale(1, 1.5); -moz-transform: scale(1, 1.5);  -o-transform: scale(1, 1.5);  -ms-transform: scale(1, 1.5);">
                                                <span style="letter-spacing:0.8mm;font-family: Algerian,Times, 'Times New Roman', serif;font-weight: normal;color: #2F5485;                text-shadow: 0.03em 0.03em 0px #b3b3b3;">
                                                    &nbsp;&nbsp;Cluster University Srinagar
                                                </span>
                                            </div>
                                        </div>
                                        <p style="font-size:15px;padding-top:6px;padding-bottom:6px;"> <b>Gogji-Bagh Campus Sriangar, 190008</b></p>
                                        <span>
                                            www.cusrinagar.edu.in
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            eMail : controllersecrecy@gmail.com
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Developed by IT Cell
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    <hr style="margin:0mm;margin-top:0.3mm;margin-bottom: 2mm;" />
                    <p style="text-align:center !important;margin-bottom:5px;">
                        <div style="text-align:left !important;float:left;">
                            Bill No. : @billsGroup.BillNo
                        </div>
                        <div style="text-align:right !important;float:right">
                            Dated : @billsGroup.CreatedOn.ToLongDateString()
                        </div>
                        <br />
                        <br />
                    <p style="font-size:18px;text-align:center !important;font-weight:bolder;text-decoration:underline;">
                        MOST CONFIDENTIAL
                    </p>
                    <div style="padding-top:2px;padding-bottom:10px;"></div>
                    <p style="margin-top:10px;font-size:17px;line-height:25px;font-weight:bold;">
                        Prof./Dr. @billsGroup.FullName<br />
                        @billsGroup.DepartmentFullName<br />
                        @billsGroup.Institute<br />
                    </p>
                    <p style="margin-top:15px;font-size:15px;line-height:25px;">
                        Sir/Madam,<br />

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The undersigned is pleased to inform you that you have been appointed as paper
                        setter for setting the Question Paper(s) of the following Programme /Course.<br /><br />
                        1. Programme:&nbsp;&nbsp;&nbsp;<strong>@billsGroup.Examination @billsGroup.Semester</strong><br />
                        2. Subject: &nbsp;&nbsp;&nbsp;@billsGroup.SubjectFullName<br />
                        3. Batch: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@billsGroup.Batch<br />
                        4. No. of Papers to be set: &nbsp;&nbsp;&nbsp;<strong>@(((int)billsGroup.NoOfSets).ToText().ToUpper())</strong>
                        <br /><br />
                        The paper(s) should be set strictly as per the prescribed syllabus. Paper(s) should
                        be set in such a manner that all units should be covered and there should be equal
                        distribution of marks to all the units. The paper(s) must be prepared in soft form (attached
                        word format) and should be submitted within <strong>@billsGroup.TotalAssignmentCompletionDays days</strong> through return mail at:
                        <u><strong>@billsGroup.PaperReceiverEmail</strong></u>.
                        <br /><br />
                    </p>
                    <p style="text-align:center; font-size:15px;"><i>Remuneration shall be paid as per the University norms/rules.</i></p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <table style="font-size:17px;width:100%" border="0">
                        <tr>
                            <th style="text-align:end">
                                <span>
                                    Yours Sincerely<br /><br />
                                    Sd/-<br />
                                    Controller of Examination
                                </span>
                            </th>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </section>
        }
    }
    <br />
    <br />
    <br />
    <div class="noneOnPrint" style="height:40px;background-color:lightslategrey;width:794px;position:fixed;bottom:0;z-index:100;text-align:center;padding-top:10px">
        <button style="height: 32px;" href="#" class="btn btn-theme" onclick="window.print();"><b>Download or Print</b></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:white">Developed &amp; Maintained by I.T Cell</span>
    </div>
</body>
</html>


