@model CUSrinagar.Models.Grievance
@{
    ViewBag.Title = "HelpDesk Detail -";
}
@Html.HiddenFor(item => item.Grievance_ID)

<div class="page-wrapper pager-table-text">
    <header class="page-heading clearfix margin-bottom-10">
        <h1 class="heading-title pull-left">
            <a href="@Url.Action("Grievance","Grievance")">HelpDesk</a>            
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Work flow
            </small>
        </h1>
    </header>
    <div class="page-content">
        <div class="row page-row">
            @if (Model != null)
            {
                <div id="timeline-main-line">
                    @Html.HiddenFor(item => item.Grievance_ID, new { @class = "jsDetailViewGrievance_ID" })

                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <div class="timeline-container">
                                <div class="timeline-label">
                                    <span class="label label-primary arrowed-in-right label-lg" title="Issue raised on date">
                                        @*<b>@Model.Date.ToString("dd-MMMM-yyyy")</b>*@
                                        <b>@CUSrinagar.Extensions.Helper.GetEnumDescription(Model.Category) </b>
                                    </span>
                                </div>

                                <div class="timeline-items">
                                    <div class="timeline-item clearfix">
                                        <div class="timeline-info">
                                            <img src="~/Content/ThemePublic/Libraries/images/student-dp-sm.jpg" alt="@Model.FullName" />
                                            <span class="label label-info label-sm" title="@Model.FullName">@Model.FullName.Substring(0, Model.FullName.Length < 8 ? Model.FullName.Length : 6).ToUpper()</span>
                                        </div>
                                        <div class="widget-box  widget-color-red2">
                                            <div class="widget-header widget-header-small">
                                                <h4 class="widget-title smaller">
                                                    @*@Model.FullName &nbsp;&nbsp;*@ <span class="">Subject : - @Model.Subject</span>
                                                </h4>
                                                <span class="widget-toolbar no-border" title="replied on">
                                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                    @Model.Date.ToString("dd-MMMM-yyyy")
                                                </span>

                                                <span class="widget-toolbar">
                                                    <a href="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-chevron-up"></i>
                                                    </a>
                                                </span>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    @Model.Message.
                                                    <div class="space-6"></div>
                                                    <div class="widget-toolbox clearfix">
                                                            <div class="pull-right action-buttons">
                                                                <a href="#" class="text-danger">
                                                                    @CUSrinagar.Extensions.Helper.GetEnumDescription(Model.Status)
                                                                </a>
                                                                @*<a href="#">
                                                                    <i class="ace-icon fa fa-check green bigger-130"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-pencil blue bigger-125"></i>
                                                                </a>
                                                                <a href="#" title="delete query">
                                                                    <i class="ace-icon fa fa-times red bigger-125"></i>
                                                                </a>*@
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.timeline-items -->
                            </div><!-- /.timeline-container -->
                        </div>
                    </div>
                </div>

                <div id="timeline-list">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <div class="timeline-container">
                                <div class="timeline-label hidden">
                                    <span class="label label-primary arrowed-in-right label-lg" title="Issue raised on date">
                                        <b>Process Flow</b>
                                    </span>
                                </div>

                                <div class="timeline-items">
                                    @if (Model.GrievanceReplies != null)
                                    {
                                        foreach (var reply in Model.GrievanceReplies)
                                        {
                                            if (reply.UserAssigned_ID.HasValue && reply.UserAssigned_ID.Value != Guid.Empty && !reply.IsAssignmentProcess)
                                            {
                                                <div class="timeline-item clearfix">
                                                    <div class="timeline-info">
                                                        <img src="~/Content/ThemePublic/Libraries/images/prof-dp-sm.jpg" alt="@CUSrinagar.Extensions.Helper.GetEnumDescription(reply.RoleID)" />
                                                    </div>
                                                    <div class="widget-box transparent">
                                                        <div class="widget-header widget-header-small">
                                                            <h5 class="widget-title smaller">
                                                                <a href="#" class="blue">@reply.FullName</a>
                                                            </h5>
                                                            <span class="widget-toolbar no-border" title="replied on">
                                                                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                                @reply.Date.ToString("dd-MMMM-yyyy")
                                                            </span>
                                                            <span class="widget-toolbar">
                                                                <a href="#" data-action="collapse">
                                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="widget-body">
                                                            <div class="widget-main">
                                                                @reply.Message
                                                                <div class="space-6"></div>
                                                                @*<div class="widget-toolbox clearfix">
                                                                    <div class="pull-right action-buttons">
                                                                        <a href="#">
                                                                            <i class="ace-icon fa fa-check green bigger-130"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                            <i class="ace-icon fa fa-pencil blue bigger-125"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                            <i class="ace-icon fa fa-times red bigger-125"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div><!-- /.timeline-items -->
                            </div><!-- /.timeline-container -->
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div id="timeline-main-line">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script src="@Url.Content("~/Scripts/Pages/grievance.js")"></script>

}
