
@{
    ViewBag.Title = "Admission 2018 - Provisional Selection List ";
}

<div class="page-wrapper pager-table-text">
    <header class="page-heading clearfix" style="margin-bottom:2px;">
        <h1 class="heading-title pull-left">
            Admission 2018 - Provisional Selection Lists
        </h1>
    </header>
    <div class="page-content">
        <div class="row page-row ">
            <div class="col-md-12 jsTableContent">
                <div class="panel panel-primary js-pager-table">
                    @*<div class="panel-heading">
                            <h2 class="panel-title">
                                Admission 2018 - Provisional Selection List
                            </h2>
                        </div>*@
                    @*<div class="js-table-content" data-url='@Url.Action("EntranceExamNotificationListPartial","Notification",new { area = string.Empty})' data-DefaultOrderByColumn="CreatedOn">
                        </div>*@

                    <table class="table table-hover table-bordered js-table">

                        <tbody>
                            <tr>
                                <td class="panel-heading" colspan="5" style="font-size:1.2em; color:#fff; font-weight:800;">5 Year Integrated Programmes</td>
                            </tr>

                            <tr>
                                <td>Bio-Chemistry</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-BioChemistry-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-BioChemistry.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-BioChemistry.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/BioChemistry-Fee.pdf")' target="_blank">Fee Receipt</a></td>
                            </tr>
                            <tr>
                                <td>Botany</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Botany-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Botany.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Botany.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Botany-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Business Administration</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-BBA-MBA-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-BBA-MBA.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-BBA-MBA.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/IMBA-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>

                            <tr>
                                <td>Chemistry</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Chemistry-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Chemistry.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Chemistry.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Chemistry-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Commerce</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-commerce-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Commerce.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Commerce.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Commerce-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Computer Applications</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-BCA-MCA-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-BCA-MCA.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-BCA-MCA.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/CA-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>

                            <tr>
                                <td>Economics</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Economics-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Economics.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Economics.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Economics-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>English</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Intergrated-English-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-English.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-English.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/English-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Environmental Science</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-EnvironmentalScience-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-EnvironmentalScience.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-EnvironmentalScience.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/EVS-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Geography</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Geography-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Geography.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Geography.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Geography-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>History</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-History-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-History.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-History.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/History-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Information Technology</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-InformationTechnology-List-2.pdf")' target="_blank">Selection List -2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-InformationTechnology.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-InformationTechnology.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/IT-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Physics</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Physics-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Physics.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Physics.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Physics-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Political Science</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Political-Science-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Political-Science.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Political-Science.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/PolScience-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Zoology</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Integrated-Zoology-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Zoology.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Zoology.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Zoology-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>

                            <tr>
                                <td class="panel-heading" colspan="5" style="font-size:1.2em; color:#fff; font-weight:800;">
                                    3 Year Honors Programmes
                                </td>
                            </tr>
                            <tr>
                                <td>Commerce</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Honors-commerce-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-commerce.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-commerce.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/Commerce-Honors-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>English</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Honors-English-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-English.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-English.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/English-Honors-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>History</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Honors-History-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-History.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-History.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/History-Honors-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>Journalism and Mass Communication</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Honors-Journalism-And-Mass-Communication-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-Journalism & Mass Communication Honors.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-Journalism & Mass Communication Honors.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/JAMC-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td class="panel-heading" colspan="5" style="font-size:1.2em; color:#fff; font-weight:800;">
                                    3 Year Professional Programmes
                                </td>
                            </tr>
                            <tr>
                                <td>BBA</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Professional-BBA-List-2.pdf")' target="_blank">Selection List-2</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-BBA-MBA.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-BBA-MBA.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/BBA-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                            <tr>
                                <td>BCA</td>
                                <td><a class="" href='@Url.Content("~/FolderManager/MeritLists/Professional-BCA-List-2.pdf")' target="_blank">Selection List-2 </a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/General-List-BCA-MCA.pdf")' target="_blank">General Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/GenCatMeritLists/Category-List-BCA-MCA.pdf")' target="_blank">Category Merit List</a></td>
                                <td><a class="" href='@Url.Content("~/FolderManager/SelectionLists/BCA-Fee.pdf")' target="_blank">Fee Receipt </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script>
        $(document).ready(function () {
            loadpagertable();
        });
    </script>
}




