@model CUSrinagar.Models.PaymentDetails

@{
    ViewBag.Title = "Payment Response";
    string errorMessage = ViewBag.PaymentFailureMessage;
}
@section CUSSitemap{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Dashboard",new { area="CUStudentZone"})">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Examination","Examination",new {@area= "CUStudentZone" })" class="active">Examination</a>
        </li>
    </ul>
}

<div class="page-content ">
    <div class="row ">
        <div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="row panel panel-body well">
                    <div class="">
                        <div class="">
                            <img src="@Url.Content("~/Content/ThemePublic/Libraries/images/cus-logo1.svg")" width="500" height="50" />
                            <br />
                            <br />
                            <h4 class="text-danger text-center"><b>Error - Please follow the steps below:</b></h4>
                            <h4 class="text-danger">1. @errorMessage</h4>
                            <br />
                            <h4 class="text-success">
                                2. If you have already submitted fee or money has been deducted from your account and you are still unable to print your examination form. Please visit Cluster Univeristy I.T. Cell by or before last date.
                            </h4>
                            <br />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row panel panel-body well">
                    <div class="">
                        <div class="text-center">
                            <img src="@Url.Content("~/Content/ThemePublic/Libraries/images/cus-logo1.svg")" width="500" height="50" />
                            <h4 class="text-success"><b>Payment Confirmation</b></h4>
                            <h4 class="hidden-print"><b>Your request for payment has been submitted successfully</b></h4>
                        </div>                        
                        <div class="table-bordered" style="margin:20px">
                            <table class="table">
                                <tbody>
                                    
                                    <tr>
                                        <td class="col-md-9">Transaction Reference Number:<b> @Model.TxnReferenceNo</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-9">Transaction Date:<b> @Model.TxnDate.ToString("dd-MMMM-yyyy")</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-9">Form Number(s):<b> @Model.AdditionalInfo</b></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile No.:<b> @Model.PhoneNumber</b></td>
                                    </tr>
                                    <tr>
                                        <td>Email: <b>@Model.Email</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <p>
                                                Amount Paid : <strong>Rs.@Model.TxnAmount</strong>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="hidden-print">
                                        <td>
                                            @if (ViewBag.IsRegular == false)
                                            {
                                                <a href="@Url.Action("PrintBacklogExaminationFormReceipt", "Examination",new {@area = "CUStudentZone",  @studentExamForm_ID=ViewBag.ExamForm_ID,@semester = ViewBag.Semester})" class="btn-default" style="padding:5px"> <label><i class="glyphicon glyphicon-print"></i> Print</label></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("PrintExaminationFormReceipt", "Examination", new { @area = "CUStudentZone", @semester = ViewBag.Semester, @RedirectFromPaymentGateWay = true })" class="btn-default" style="padding:5px"> <label><i class="glyphicon glyphicon-print"></i> Print</label></a>
                                            }

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>

                    <div class="clearfix hidden-print"></div>
                    <div>
                        <h3>WARNING !</h3>
                            <ol>
                                <li>Those candidates who have not appeared in internal/continous assesment are not eligible to appear in exam and their forms will be cancelled.</li>
                            </ol>
                        <hr />
                        <h5>In case of any discrepancy please visit University I.T. Section.</h5>
                        <hr />
                        <b>Address</b>
                        <address>
                            <p class="adr clearfix col-md-12  col-sm-4">
                                <span class="adr-group pull-left">
                                    <span class="street-address">Cluster University Srinagar</span><br>
                                    @*<span class="region">Camp Office- Amar Singh College</span><br>*@
                                    <span class="region">Gogji-Bagh, Srinagar-190008</span><br>
                                    <span class="email"><a href="mailto:info@cusrinagar.edu.in?Subject=ClusterUniversity"><i class="fa fa-envelope"></i>info@cusrinagar.edu.in</a></span><br />
                                    <span class="phone">Phone number: - 0194-2475603</span>
                                </span>
                            </p>
                        </address>
                        <hr />
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section PageSpecificJSFiles{
    <script src="@Url.Content("~/Content/ThemePublic/Libraries/disableBack.js")"></script>
    <script>
        $(document).ready(function () {
            $("[id*=Section]").removeClass("active");
            $("#ExaminationFormSection").addClass("active");
        });
    </script>
}


