
@using CUSrinagar.Models
@using CUSrinagar.Extensions

@model  List<ARGCoursesApplied>

@{
    ViewBag.Title = $"Registration {DateTime.Now.Year} - Apply for more courses";
    List<ARGCoursesApplied> coursesApplied = (List<ARGCoursesApplied>)ViewBag.CoursesApplied;
    bool hasPayment = (bool)ViewBag.HasPayment;
    string totalFee = Convert.ToString(ViewBag.TotalFee);
    ARGFormNoMaster formNoMaster = ViewBag.FormNoMaster;
}

<div class="page-header">
    <h1>
        Registration @DateTime.Now.Year - Apply for more courses
    </h1>
</div>
@*@if ((bool)ViewBag.PrintProgrammeOption)*@
@if (1 == 0)
{
    <div class="row">
        <div id="response" style="width:85%;margin:0 auto">
            @if (TempData["response"] != null)
            {
                @Html.Raw(TempData["response"])
            }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9" style="border:2px solid #cacaca;border-radius:6px;">
            <br />

            @using (Html.BeginForm("AddPG", "RegnCourses", FormMethod.Post, new { @class = "rnd5", @id = "frmRegnCourses", area = "CUStudentZone" }))
            {
                @Html.Hidden("TotalFee", totalFee)
                @Html.AntiForgeryToken()
                if (hasPayment)
                {
                    @Html.Hidden("HasPayment", "True")
                }
                else
                {
                    @Html.Hidden("HasPayment", "False")
                }

                @Html.Hidden("BasicFee", formNoMaster.BasicFee)
                @Html.Hidden("PerCourse", formNoMaster.PerCourse)
                @Html.Hidden("AdditionalFeeForNonJK", formNoMaster.AdditionalFeeForNonJK)
                @Html.Hidden("FeeForAlreadyInIH", formNoMaster.FeeForAlreadyInIH)
                @Html.Hidden("Distt", (string)ViewBag.IsJkResident)

                <div class="row page-row" style="background-color:white;padding-bottom: 10px" id="CourseSection">
                    <span style="float:right;margin-right:20px;color:black;font-weight:bold;" id="Jsfee"></span>
                    <div class="content-wrapper">
                        <div class="col-sm-12">
                            @{string lbl = string.Empty;}
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                if (lbl != Model[i].Programme.ToString().ToLower() && lbl != string.Empty)
                                {
                                    <div class="col-sm-12"><hr /></div>
                                }
                                if (lbl != Model[i].Programme.ToString().ToLower())
                                {
                                    <h4 class="col-sm-12">
                                        <span style="background-color:#0db12f;padding:3px 10px;width:100%;color:white;">
                                            @if (Model[i].Programme == CUSrinagar.Enums.Programme.UG)
                                            {
                                                <text>3 Year Professional Courses</text>
                                            }
                                            else
                                            {
                                                @Model[i].Programme.GetEnumDescription() <text>Courses</text>
                                            }
                                        </span>
                                    </h4>
                                }
                                <div class="col-sm-6 lbl bigger-120 no-padding-right" style="margin-bottom:10px;" id="@Model[i].Course_ID.ToString().ToLower()">
                                    <div class="col-sm-12">
                                        @Html.HiddenFor(model => model[i].Programme)
                                        @if (hasPayment && (coursesApplied.FirstOrDefault(c => c.Course_ID == Model[i].Course_ID) != null))
                                        {
                                            @Html.HiddenFor(model => model[i].Course_ID)
                                            @Html.HiddenFor(model => model[i].CourseName)
                                            @Html.HiddenFor(model => model[i].CourseCode)
                                            <span style="color:red">Applied</span>
                                            @Model[i].CourseName
                                        }
                                        else
                                        {
                                            { Model[i].IsClicked = (coursesApplied.FirstOrDefault(c => c.Course_ID == Model[i].Course_ID) != null) ? true : false; }
                                            @Html.HiddenFor(model => model[i].Course_ID)
                                            @Html.HiddenFor(model => model[i].CourseName)
                                            @Html.HiddenFor(model => model[i].CourseCode)
                                            @Html.CheckBoxFor(model => model[i].IsClicked, new { @dataid = Model[i].Course_ID, @class = "JSCourseClk" })
                                            <text></text>
                                            @Model[i].CourseName.Replace("Integrated", "").Replace("Honor's", "")
                                        }
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                {
                                    lbl = Model[i].Programme.ToString().ToLower();
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="row page-row" style="background-color:white;">
                    <div class="content-wrapper" style="padding:5px;font-size:18px">
                        <fieldset>
                            <legend></legend>
                            <ul>
                                <li style="color:#ff6a00;font-weight:bold">If you have already submitted Fee and you are still unable to print your Admission Form visit Cluster University I.T Section.</li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <br />
                <p class="text-center JSprogress">
                    <span id="hideButtons6" style="margin-right:20px;">
                        <button type="submit" id="jsRCFresh" class="btn btn-success"><i class="fa fa-money"></i> Apply &amp; Make Payment</button>
                    </span>
                    <span id="hideButtons6">
                        <a id="jsRCReprint" href="@Url.Action("Detail", "Registration", new { id = CUSrinagar.Models.AppUserHelper.User_ID + "/", R = CUSrinagar.Extensions.Helper.EncryptCookieAndURLSafe(((int)CUSrinagar.Models.AppUserHelper.TableSuffix).ToString()), area = string.Empty })" class="btn btn-success"><i class="fa fa-money"></i> Print Regn. Form </a>
                    </span>
                </p>
            }
        </div>
        <div class="col-md-1"></div>

        <div class="col-lg-12"><br /><br /><br /><br /></div>
    </div>
}
else
{
    <h1 class="quadraText">
        Admission process is either closed or will be allowed soon.
    </h1>
}
@section PageSpecificJSFiles{
    <script>
        var basicFee = "@totalFee";
    </script>
    @Scripts.Render("~/bundles/Libraries/jqueryval")
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/JSAdmission/AddMoreCoursesPG.js")"></script>
}
