@model CUSrinagar.Models.ForgotPassword

@{
    ViewBag.Title = "Change Password";
}

<div class="page-header">
    <h1>
        @if (Request.QueryString["tg"] != null)
        {
            <text>Change Password</text>
        }
        else
        {
            <text>Your Account Password has expired</text>
        }
    </h1>
</div>
<div id="response">
    @if (TempData["response"] != null)
    {
        @Html.Raw(TempData["response"])
    }
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border:2px solid #cacaca;border-radius:6px;">
        <br />
        @using (Html.BeginForm("ResetUserPassword", "Account", FormMethod.Post, new { id = "frmResetUserPassword", onsubmit = "return confirm('Please remember this password for next time to login.');" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserName)
            <div class="form-horizontal">
                <div class="col-lg-3"></div>
                <div class="form-group name col-lg-8">
                    New Password
                    <div class="form-group input-group">
                        <span class="input-group-addon btn-theme">
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", maxlength = "35" })

                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red;" })


                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-8"><span> Password must be atleast 8 characters,One capital letter,one numeric character and one special character</span> </div>
                <div class="col-lg-3"></div>
                <div class="form-group name col-lg-8">
                    @Html.LabelFor(model => model.ConfirmPassword)

                    <div class="form-group input-group">
                        <span class="input-group-addon btn-theme">
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", maxlength = "35" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @style = "color:red;" })
                </div>

                <div class="col-lg-10"></div>
                <div class="col-lg-3"></div>
                <div class="form-group col-lg-8">
                    <div class="col-md-offset-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" id="JSForgot" value="Change Password" class="btn btn-theme" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>
@section PageSpecificJS{
    @Scripts.Render("~/bundles/Libraries/jqueryval")
}