@{
    Layout = null;
}

@using CUSrinagar.Models;
@using CUSrinagar.Enums;
@using CUSrinagar.Extensions
@model IEnumerable<CUSrinagar.Models.ADMCombinationMaster>
<table class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th>S.No</th>
            <th data-property="CourseFullName">Course</th>
            <th data-property="CombinationCode" title="">Code</th>
            <th data-property="Semester" title="">Semester</th>
            <th data-property="" class="">Subjects</th>
            <th data-property="">Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input name="Combination_ID" value="@item.Combination_ID" class="ace checkbox checkbox-inline"  type="checkbox"><span class="lbl padding-right-10"></span><span class="js-sno"></span>
                    </td>
                    <td>
                        @item.CourseFullName
                    @Html.HiddenFor(model => item.Combination_ID, new { @class = "jsRow_ID jsEntity_ID" })
                </td>
                <td>
                    <a target="_blank" href="@Url.Action("EditCombinationCode","Combination",new {@Combination_ID=item.Combination_ID,@CombinationCode=item.CombinationCode})">
                        @item.CombinationCode<i class="fa fa-edit"></i>
                    </a></td>
                <td>@item.Semester </td>
                <td>@(item.SubjectsDetails == null ? "" : string.Join("|", item.SubjectsDetails.Select(x => x.SubjectFullName)))</td>
                <td>
                    @if (item.Status)
                    {
                        <span class="label label-sm label-success">Active</span>
                    }
                    else
                    {
                        <span class="label label-sm label-warning">In-Active</span>
                    }
                </td>
                <td>
                    <a title="delete" href="#" class="jsDeleteMainItem"><i class="fa fa-trash "></i></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
