@model List<CUSrinagar.Models.SelectedStudent>


<table class="table table-hover table-bordered js-table">
    <thead style="white-space: nowrap;">
        <tr>
            <th><input class="ace checkbox checkbox-inline jsSelectAllChk" type="checkbox"><span class="lbl padding-right-10"></span>SNo</th>
            <th data-property="CourseFullName">CourseFullName</th>
            <th data-property="TotalPoints">TotalPoints</th>
            <th data-property="StudentFormNo">FormNo</th>
            <th data-property="EntranceRollNo">RollNo</th>
            <th data-property="FullName">FullName</th>
            <th data-property="Parentage">Parentage</th>
            <th data-property="Category">Category</th>
            <th data-property="Gender">Gender</th>
            <th data-property="SelectionStatus" title="Selection Status">Status</th>
            <th class="hidden-print"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input class="ace checkbox checkbox-inline jsSelectChk" type="checkbox"><span class="lbl padding-right-10"></span><span class="js-sno"></span>
                        @Html.HiddenFor(model => item.Student_ID, new { @class = "jsEntity_ID" })
                    </td>
                    <td>@item.CourseFullName</td>
                    <td>@item.TotalPoints</td>
                    <td>@item.StudentFormNo</td>
                    <td>@item.EntranceRollNo</td>
                    <td>@item.FullName</td>
                    <td>@item.Parentage</td>
                    <td>@item.Category</td>
                    <td>@item.Gender</td>
                    <td title="Selection Status">@(CUSrinagar.Extensions.Helper.GetEnumDescription(item.StudentSelectionStatus))</td>
                    <td class="hidden-print">
                        <a target="_blank" title="Detail view" href="@Url.Action("UploadedCertificate","Admission",new {@area="CUSrinagarAdminPanel",@Student_ID=item.Student_ID,@Course_ID=item.Course_ID,@printProgramme=CUSrinagar.Enums.PrintProgramme.IH })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="10">No Record Found</td></tr>
        }
    </tbody>
</table>

