
@{
    ViewBag.Title = "IG/Honor/Prof Admission";
    Layout = "~/Areas/CUSrinagarAdminPanel/Views/Shared/_CUAdminPanelLayout.cshtml";
}

@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">New Admission Course Wise</li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.IH">
            <div class="panel-heading">
                <h3 class="panel-title">
                    New Admission
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Student
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <form class="form-inline">
                        <div class="form-group hidden">
                            <label>Batch</label><br />
                            <div class="jsDDLContainer">
                                <select class="form-control jsfilterelement" data-column="Batch" data-operator="EqualTo" data-scope="row1">
                                    <option value="2020" selected="selected">2020</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Choose College</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("CollegeDDL", new SelectList(ViewBag.College, "Value", "Text"), "------ All Colleges ------",
                               new
                               {
                                   @class = "chosen-select jsfilterelement ",
                                   @data_column = "AcceptCollege_ID",
                                   @data_operator = "EqualTo",
                                   @data_scope="row1"
                               })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Programme</label><br />
                            <div class="wd-140 jsDDLContainer">
                                <select class="form-control chosen-select jsProgrammeDDL jsfilterelement" data-column="Programme" data-operator="EqualTo" data-scope="row1" id="ProgrammeDDL" name="ProgrammeDDL">
                                    <option selected="selected" value=""> ---  All ------ </option>
                                    <option value="3">Integrated</option>
                                    <option value="4">Honor's</option>
                                    <option value="6">Professional</option>
                                </select>
                                @*@Html.DropDownList("ProgrammeDDL", new SelectList(ViewBag.Programmes, "Value", "Text", (short)CUSrinagar.Enums.Programme.IG), null,
                                    new
                                    {
                                        @class = "form-control chosen-select jsProgrammeDDL jsfilterelement",
                                        @data_column = "Programme",
                                        @data_operator = "EqualTo",
                                        @data_scope = "row1"
                                    })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose Course</label><br />
                            <div class="jsDDLContainer  wd-200">
                                @Html.DropDownList("Course", new SelectList(ViewBag.Courses, "Value", "Text", (short)CUSrinagar.Enums.Programme.UG), " -- All Courses --",
                                           new
                                           {
                                               @class = "form-control chosen-select jsCourseDDL jsfilterelement",
                                               @data_column = "Course_ID",
                                               @data_operator = "EqualTo",
                                               @data_tablealias = "ADMCourseMaster",
                                               @data_defaulttextvalue = " -- All Courses --,",
                                               @data_scope="row1"
                                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Status</label><br />
                            <div class="jsDDLContainer">
                                @*@Html.DropDownList("StudentSelectionStatus", new SelectList(ViewBag.SelectionStatus, "Value", "Text"), "-- Choose selection status --",
                                    new { @class = "chosen-select form-control jsfilterelement",
                                        @data_column = "StudentSelectionStatus", @data_operator = "EqualTo",
                                        @data_defaulttextvalue = "--Select--,", @data_tablealias = "C", @data_scope = "row1" })*@
                                <select class="chosen-select form-control jsfilterelement" data-column="StudentSelectionStatus" data-defaulttextvalue="--Select--," data-operator="EqualTo" data-scope="row1" data-tablealias="C" id="StudentSelectionStatus" name="StudentSelectionStatus">
                                    <option value="">-- Choose selection status --</option>
                                    <option value="0">NotSelected</option>

                                    <option value="3">Provisional</option>
                                    <option value="4">CertificatesUploaded</option>
                                    <option value="5">Verified_MakePayment</option>
                                    <option value="1">Joined</option>

                                    <option value="9">Provisional_SF</option>
                                    <option value="10">CertificatesUploaded_SF</option>
                                    <option value="11">Verified_MakePayment_SF</option>
                                    <option value="12">Joined_SF</option>

                                    <option value="7">AllowedForCounseling</option>
                                    <option value="8">AppliedForCounseling</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Form/Entrance No/Full Name</label><br />
                            <input type="text" placeholder="Entrance Roll No/Form Number/Name" class="form-control jsfilterelement" data-column="EntranceRollNo,StudentFormNo,FullName" data-operator="Contains" data-scope="row1" />
                        </div>
                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                                    Action
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-default dropdown-info">
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" data-url="@Url.Action("UploadCertificateIHCSV", "Admission", new { area = "CUSrinagarAdminPanel" })" id="" class="js-exportToCSV" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.IH" style="width:100%">Download Excel</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url='@Url.Action("UploadCertificateIHList","Admission",new { area = "CUSrinagarAdminPanel"})' data-DefaultOrderByColumn="Student_ID" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.IH">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>

@section PageSpecificJS{

    <script type="text/javascript">
        $(document).ready(function () {
            //loadpagertableWithDefaultParams();
        });
    </script>

}


