
@model IEnumerable<CUSrinagar.Models.FeeStructureViewModel>
@{
    Layout = null;
}

@using CUSrinagar.Extensions;
@using CUSrinagar.Models;
@using System.Reflection;


@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Dashboard", new { area = "CUSrinagarAdminPanel" })">Home</a>
            </li>
            <li class="active">Reports</li>
        </ul><!-- /.breadcrumb -->
    </div>
}


<div class="col-md-12 jsTableContent ">

    @if (Model != null)
    {
        <div class="col-sm-12 center">
            <div>
                <a href="#" class="btn btn-inverse">
                    Total Amount = @String.Format("{0:n}", Model.Sum(i => i.SubTotal))
                </a>
                <a href="#" class="btn btn-inverse" style="min-width: 90px">
                    Total Students = @Model.FirstOrDefault().NoOfStudents
                </a>
            </div>
            <hr />
        </div>
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable" id="widget-container-col-6">
            <div class="widget-box widget-color-dark light-border ui-sortable-handle" id="widget-box-6">
                <div class="widget-header">
                    <div class="widget-toolbar pull-left">
                        <h4 class="badge badge-danger">@string.Join(",", Model.GroupBy(i => i.MasterCourseCategory.GetEnumDescription()).Select(x => x.Key))</h4>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <table class="table table-striped table-dark">
                            @{
                                <thead>
                                    <tr>
                                        <th>
                                            Fee Component
                                        </th>
                                        <th>
                                            Fee Amount
                                        </th>
                                        <th>
                                            No Of Payments Received through IPG
                                        </th>
                                        <th>
                                            Sub Total
                                        </th>
                                    </tr>
                                </thead>
                                foreach (PropertyInfo property in typeof(FeeStructureAdmission).GetProperties().Where(p => p.PropertyType == typeof(int)))
                                {
                                    if (@Model.First(i => i.FeeComponent == property.Name).FeeComponentAmount == 0)
                                    {

                                    }
                                    else
                                    {
                                        <tr style="border-bottom:solid 1px black">
                                            <td>
                                                @property.Name
                                            </td>
                                            <td>
                                                @Model.First(i => i.FeeComponent == property.Name).FeeComponentAmount
                                            </td>
                                            <td>
                                                @Model.First().NoOfStudents
                                            </td>
                                            <td>
                                                @Model.Where(i => i.FeeComponent == property.Name).Sum(i => i.SubTotal)
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr style="font-style:italic;font-weight:bolder">
                                    <td>
                                    </td>
                                    <td>
                                        @Model.Sum(i => i.FeeComponentAmount)
                                    </td>
                                    <td>
                                        Grand Total
                                    </td>
                                    <td>
                                        @Model.Sum(i => i.SubTotal)
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
            <br />
            <br />

        </div>
        <p style="page-break-after:always"></p>
    }
</div>






































