@{
    ViewBag.Title = "Degree Certificate List";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">Degree Certificate</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-4"></div>
}
<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Degree Certificate
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    List of Student
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <div class="form-inline">
                        <div class="col-sm-12">
                            <div class="form-group center">
                                <span style="color: #cb2990; font-size: 21px; margin-left: 31em;">For Only Batch-2017</span> @Html.Hidden("Batch", 2017)
                            </div>
                            <br />
                            <div class="form-group">
                                Batch
                                <div class="jsDDLContainer wd-50">
                                    <select class="form-control jsBatch jsfilterelement" data-column="Batch" data-operator="EqualTo">
                                        <option value="2017">2017</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                College
                                <div class="jsDDLContainer wd-200">
                                    @Html.DropDownList("College", new SelectList(ViewBag.College, "Value", "Text"), "--select--", new
                               {
                                   @class = "chosen-select form-control jsfilterelement jsCollegeDDL",
                                   @data_column = "AcceptCollege_ID",
                                   @data_defaulttextvalue = "--select--,",
                                   @data_operator = "EqualTo",
                                   @data_scope = "row1"
                               })
                                </div>
                            </div>
                            <div class="form-group">
                                <span style="color:red">*</span> Programme<span id="PrintProgrammeValidator" class="label label-sm label-danger arrowed-in-right arrowed"></span><br />
                                @Html.DropDownList("PrintProgramme", new SelectList(ViewBag.PrintProgrammes, "Value", "Text", 1)
                               , new { @class = "chosen-select required form-control jsPrintProgrammeDDL jsfilterelement", @data_column = "PrintProgramme", @data_operator = "EqualTo", @data_tablealias = "", @data_scope = "row1" })
                            </div>

                            <div class="form-group">
                                <span style="color:red">*</span> Course<br />
                                <div class="jsDDLContainer wd-200">
                                    @Html.DropDownList("Course", new SelectList(ViewBag.Courses, "Value", "Text"), "--select--", new
                               {
                                   @class = "chosen-select form-control jsfilterelement jsCourseDDL required ",
                                   @data_column = "Course_ID",
                                   @data_defaulttextvalue = "--select--,",
                                   @data_tablealias = "C",
                                   @data_operator = "EqualTo",
                                   @required = "required",
                                   @data_scope = "row1",

                               })
                                </div>
                            </div>
                            <div class="form-group">
                                Generated<br />
                                <select class="form-control chosen-select jsfilterelement" data-column="CreatedOn" data-operator="NULL" data-tablealias="DC">
                                    <option value="">All</option>
                                    <option value="1">Generated</option>
                                    <option value="0">Not Generated</option>
                                </select>
                            </div>
                            <div class="form-group">
                                Validated<br />
                                <select class="form-control chosen-select jsfilterelement" data-column="ValidatedOn" data-operator="NULL" data-tablealias="DC">
                                    <option value="">All</option>
                                    <option value="1">Validated</option>
                                    <option value="0">Not Validated</option>
                                </select>
                            </div>
                            <div class="form-group">
                                Printed<br />
                                <select class="form-control chosen-select jsfilterelement" data-column="PrintedOn" data-operator="NULL" data-tablealias="DC">
                                    <option value="">All</option>
                                    <option value="1">Printed</option>
                                    <option value="0">Not Printed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                Handed Over<br />
                                <select class="form-control chosen-select jsfilterelement" data-column="HandedOverOn" data-operator="NULL" data-tablealias="DC">
                                    <option value="">All</option>
                                    <option value="1">Handed Over</option>
                                    <option value="0">Not Handed Over</option>
                                </select>
                            </div>
                            <div class="form-group">
                                Greater Than<br />
                                @Html.TextBox("GreaterThanDate", "", new { @data_tablealias = "DC", @data_column = "CreatedOn", @data_operator = "GreaterThanEqualTo", @class = "form-control jsfilterelement datetime", @type = "date" })
                            </div>
                            <div class="form-group">
                                Less Than<br />
                                @Html.TextBox("LessThanDate", "", new { @data_tablealias = "DC", @data_column = "CreatedOn", @data_operator = "LessThanEqualTo", @class = "form-control jsfilterelement datetime", @type = "date" })
                            </div>

                            <div class="form-group">
                                CUSRegistartionNO<br />
                                <div class="jsDDLContainer">
                                    @Html.TextBox("CUSRegistrationNo", "", new { @class = "form-control jsfilterelement ", @data_column = "CUSRegistrationNo", @data_operator = "EqualTo" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="padding-top:20px !important;">
                                    <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>

                                    <button type="button" id="btnSubmitView" class="btn btn-sm btn-primary">&nbsp;View</button>

                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button">
                                            Action
                                            <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-default dropdown-info">
                                            <li>
                                                <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("DegreeCertificateCSV","DegreeCertificateEng",new { area="CUSrinagarAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                                    Download Excel(CSV)
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" id="jsALLDegreeCertificateEngBtn">
                                                    Generate Degree Certificate
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" id="jsALLPrintedBtn">
                                                    Mark Selected Printed
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" id="jsALLHandedOverBtn">
                                                    Mark Selected HandedOver
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" id="jsALLValidatedBtn">
                                                    Mark Selected Good
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-table-content tbl" data-url="/CUSrinagarAdminPanel/DegreeCertificateEng/DegreeCertificateListEng" data-DefaultOrderByColumn="ExamRollNumber">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>

@*MODAL DIALOG START*@
<div class="modal" id="jsDegreeCertificateDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-650">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Degree Certificate</h4>
            </div>
            <div class="modal-body padding-0-10">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="wd-300">
                                Dispatch Number
                            </td>
                            <td>
                                <input type="text" class="form-control to-uppercase" id="CommonDispatchNumber" placeholder="enter  dispatch number" value="CUS/EXM/DC/UG/2017" />
                            </td>
                        </tr>
                        <tr>
                            <td class="wd-300">
                                Issue Number
                            </td>
                            <td>
                                <input type="number" class="form-control" id="StartingIssueNumber" placeholder="enter issue number" />
                            </td>
                        </tr>
                        @*<tr>
                                <td class="wd-300">
                                    Starting Serial Number
                                </td>
                                <td>
                                    <input type="number" class="form-control" id="StartingSerialNumber" placeholder="enter starting serial number" />
                                </td>
                            </tr>*@
                        <tr>
                            <td colspan="2" class="text-center">
                                <u> <h1 class="text-primary" id="DispatchNumberView">CUS/EXM/DC/UG/2017</h1></u>
                                <small class="smaller">Starting dispatch number is like above</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="jsDegreeCertificateBtn">Generate</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*MODAL DIALOG END*@


@section PageSpecificJSFiles
{
    <script src="~/Scripts/Pages/admin-degree-certificate-Eng2017.js"></script>
}


















