@{
    ViewBag.Title = "Examination Form";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUCollegeAdminPanel"})">Home</a>
            </li>
            <li class="active">Form</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Examination Forms
            </h2>*@
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12 infobox-container">
        <div class="infobox infobox-grey infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-download"></i>
            </div>

            <div class="infobox-data">
                <div class="infobox-content jsTotalStudentLabel">Total Students</div>
                <div class="infobox-content jsTotalStudent">00</div>
            </div>
        </div>

        <div class="infobox infobox-grey infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-download"></i>
            </div>
            <div class="infobox-data">
                <div class="infobox-content">Accepted</div>
                <div class="infobox-content jsTotalStudentAccepted">00</div>
            </div>
        </div>

        @*<div class="infobox infobox-grey infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-download"></i>
            </div>
            <div class="infobox-data">
                <div class="infobox-content">In Process</div>
                <div class="infobox-content jsTotalStudentInProcess">00</div>
            </div>
        </div>*@

        <div class="infobox infobox-grey infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-download"></i>
            </div>

            <div class="infobox-data">
                <div class="infobox-content">Not Downloaded</div>
                <div class="infobox-content jsTotalStudentNotDownloaded">00</div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"> <br /> </div>
<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Examination Application Forms
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Students
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <div class="form-inline">


                        <input type="hidden" data-tablealias="" data-column="AcceptCollege_ID" data-operator="EqualTo" class="jsfilterelement" value="@CUSrinagar.Models.AppUserHelper.College_ID" />

                        <div class="form-group">
                            <label>Batch</label><br />
                                                <select id="Batch" name="Batch" class="form-control jsfilterelement" data-column="SemesterBatch" data-operator="EqualTo">
                                                    <option value="">All</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                </select>
                        </div>

                        <div class="form-group ">
                            <label> Prog </label><br />
                            @Html.DropDownList("PrintProgramme", new SelectList(ViewBag.Programmes, "Value", "Text", (short)CUSrinagar.Enums.PrintProgramme.UG), null,
                                 new
                                 {
                                     @class = "form-control",
                                     @data_column = "PrintProgramme jsDDL",
                                     @data_operator = "EqualTo"
                                 })
                        </div>

                        <div class="form-group">
                            <label> Course </label><br />
                            @Html.DropDownList("Courses", new SelectList(ViewBag.Courses, "Value", "Text"), "--All--",
                                       new
                                       {
                                           @class = "form-control jsfilterelement",
                                           @data_column = "Course_ID",
                                           @data_tablealias = "ADMCombinationMaster",
                                           @data_operator = "EqualTo"
                                       })
                        </div>

                        <div class="form-group">
                            <label>Semester</label><br />
                            @Html.DropDownList("Semester", new SelectList(ViewBag.Semesters, "Value", "Text",1), "--All--",
                             new
                             {
                                 @class = "jsfilterelement",
                                 @data_column = "Semester",
                                 @data_operator = "EqualTo",
                                 @data_tablealias= "COMB"
                             })
                        </div>

                        <div class="form-group">
                            <label>Exam Year</label><br />
                            @Html.DropDownList("ExaminationYear", new SelectList(ViewBag.ExaminationYears, "Value", "Text"),"All Students",
                             new
                             {
                                 @class = "jsfilterelement",
                                 @data_column = "Year",
                                 @data_operator = "EqualTo",
                                 @title="Exam Year"
                             })
                        </div>

                        @*<div class="form-group">
                            <label>Form</label><br />
                            <select id="ExamFormStatus" name="ExamFormStatus" class="form-control jsfilterelement" data-column="Status" data-operator="EqualTo" data-tablealias="ExaminationForms">
                                <option value="">All</option>
                                <option value="4" selected="selected">Applied</option>
                                <option value="NULL">Not Applied</option>
                            </select>
                        </div>*@

                        <div class="form-group">
                            <label>Verified Subject</label><br />
                            <select id="ExamFormStatus" name="ExamFormStatus" class="form-control jsfilterelement" data-column="IsVerified" data-operator="EqualTo">
                                <option value="">All Forms</option>
                                <option value=1>Verified Subjects</option>
                                <option value=0>Not Verified Subjects</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Type</label><br />
                            <select id="IsRegular" name="IsRegular" class="form-control jsfilterelement" data-column="IsRegular" data-operator="EqualTo">
                                <option value="">All</option>
                                <option value=1>Regular</option>
                                <option value=0>BackLog</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Registration No</label><br />
                            <input type="text" placeholder="Registration No" id="SearchRegNoFormNumber" name="SearchRegNo" class="form-control jsfilterelement" autofocus data-column="CUSRegistrationNo" data-operator="EqualTo" />
                        </div>

                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-sm btn-primary fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>


                        <div class="form-group">
                            <br />
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-sm btn-primary dropdown-toggle">
                                    Action
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-default dropdown-info">
                                    <li>
                                        <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("ExamFormCSV","Examination",new { area="CUCollegeAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                            Download Excel(CSV)
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-table-content" data-afterappendingrows="examformlistloaded" data-url=@Url.Action("ExaminationFormListPartail", "Examination", new { area = "CUCollegeAdminPanel" }) data-DefaultOrderByColumn="FormNumber">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>
@Html.Hidden("College_ID", (Guid?)ViewBag.College_ID)

@section PageSpecificJS{
    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/Pages/clg-examination-form.js")"></script>
    <script>
        $(document).ready(function () {
            $(".e2").addClass("active");
            $(".exmlt").addClass("active open");

            $("#Programme").change(function () {
                var $element = $(this);
                $('.js-pager-table').data('otherparam1', $element.find('option:selected').val());
                $('.js-exportToCSV').data('otherparam1', 'printProgramme=' + $element.find('option:selected').val());
                var $targetSelect = $("#Courses");
                clearDDOptions($targetSelect);
                fillDDLDefaultOption($targetSelect);
                var college_id = $("#College_ID").val();
                var programme = $element.find('option:selected').val();
                if (isNullOrEmpty(college_id) || college_id == emptyGuid() || isNullOrEmpty(programme)) {
                    return;
                }
                clearDDOptions($targetSelect);
                var _url = "/CUSrinagarAdminPanel/General/CollegeProgramCourses";
                $.ajax({
                    url: _url,
                    type: "POST",
                    datatype: "Json",
                    data: { College_ID: college_id, printProgramme: programme },
                    success: function (data) {
                        fillDDLDefaultOption($targetSelect);
                        if (data != null) {
                            $.each(data, function (index, item) {
                                $targetSelect.append('<option value="' + item.Value + '">' + item.Text.trim() + '</option>');
                            });
                        }
                        resizechosen($targetSelect);
                        $("#Courses").trigger('change');
                    },
                    error: function (xhr, error, msg) {
                        fillDDLOptions($targetSelect, null);
                        showErrorMessage(msg);
                    }
                });
            });

        });
    </script>
}