
@model List<CUSrinagar.Models.AttendanceSheetForm>
@using Nut
@using CUSrinagar.Extensions
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @if (Model.IsNotNullOrEmpty())
    {
        <title>Attendance Sheets_Sem-@Model[0].Semester _@Model[0].CourseFullName.Replace("/", "").Replace("'", "")</title>
    }
    else
    {
        <title>No Attendance Sheets - CUSrinagar</title>
    }

    <style type="text/css">
        .btn-theme {
            background: #011c27;
            border: 1px solid #84aac9;
            color: #fff;
        }

            .btn-theme:hover {
                background: #545677;
                border: 1px solid #84aac9;
                color: #fff;
            }

        .QRCode {
            width: 95px;
            position: absolute;
            margin-left: 500px;
        }

        @@media print {
            .QRCode {
                width: 95px;
                position: absolute;
                margin-left: 500px;
            }

            .IsPrintbody {
                display: none;
            }

            .noneOnPrint {
                display: none;
            }

            .parentdiv {
                margin: 0 auto;
                width: 909px;
                padding: 0px;
            }
        }

        .parentdiv {
            margin: 0 auto;
            width: 909px;
            padding: 10px;
        }

        .dontbreakInside {
            page-break-inside: avoid;
        }

        .breakpagehere {
            page-break-after: always !important;
        }

        .blankspace {
            height: 350px !important;
        }


        .breakpagehere {
            height: 10px;
            background-color: grey !important;
        }

        table tr td {
            padding: 1px 5px 0px 5px;
        }

        .ctable tr td {
            padding: 19px;
        }

        table tr td, table tr th {
            max-width: 150px;
            word-wrap: break-word !important;
        }

        table, table tr, table tr td, table tr th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        div {
            background-color: #fff;
        }

        .center {
            text-align: center !important;
        }

        .pull-right {
            float: right !important;
        }

        .pull-left {
            float: left !important;
        }
    </style>
</head>
<body style="background-color:grey" class="IsPrintbody">
    <div id="Jspleasewait" style="position:fixed;background-color:rgba(0, 0, 0, 0.20);left:0;top:0;z-index:200;width:100%;height:100%">
        <p style="font-size:30px;font-weight:bold;color:red;margin-top:20%;margin-left:41%">
            Please wait...
        </p>
    </div>
    @if (Model.IsNotNullOrEmpty())
    {
        string base64 = "";
        string QRImgSrc = "";
        string CUSRegistrationNo = "";

        foreach (var student in Model)
        {
            CUSRegistrationNo = student.CUSRegistrationNo + "".ToUpper();

            base64 = Convert.ToBase64String(student.QRCode);
            QRImgSrc = String.Format($"data:image/png" + ";base64,{0}", base64);
            student.Photograph = string.IsNullOrWhiteSpace(student.Photograph) ? "~/Content/ThemePublic/Libraries/images/team/administration/small/no-image.png" : student.Photograph;

            var collegeLogoPath = "~/Content/ThemePublic/Libraries/images/banners/" + ViewBag.CollegeCode + ".jpg";
            <div class="parentdiv">
                <div class="center">
                    <div>
                        <img src="@QRImgSrc" class="QRCode" />
                        <img class="img-responsive" src="@Url.Content(collegeLogoPath)" style="width:90px;height:68px;float:left;" />
                        <img src="/Content/ThemePublic/Libraries/images/cus-logo1.svg" width="500" height="50" />
                    </div>
                    <h2 style="margin:0">@ViewBag.College</h2>
                    <h3 style="margin:2px;margin-left: 94px">Attendance Sheet- Semester @student.Semester -Batch @student.Batch</h3>
                </div>
                <table>
                    <tr>
                        <td style="padding:5px;font-weight:bold;" width="17%">Exam Form No.</td>
                        <td style="padding:5px;font-weight:bold;" width="25%">@student.FormNumber</td>
                        <td style="padding:5px;" width="15%">Exam RollNo.</td>
                        <td style="padding:5px;" width="25%">@student.ExamRollNumber</td>
                        <td style="padding:5px;" width="20%"></td>
                    </tr>
                    <tr>
                        <td colspan="1">Name</td>
                        <td colspan="3">@student.FullName.ToUpper()</td>
                        <td rowspan="7" colspan="1" class="center">
                            <img class="img-responsive" src="@Url.Content(student.Photograph)" width="130" height="155" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="padding:5px;font-weight:bold;" width="19%">CUS Registration No.</td>
                        <td colspan="3">@CUSRegistrationNo</td>
                    </tr>
                    <tr>
                        <td colspan="1" style="padding:5px;font-weight:bold;" width="19%">Center Name</td>
                        <td colspan="3"><strong>@student.SemesterExamCenterDetail.CollegeFullName</strong> &nbsp; @student.SemesterExamCenterDetail.Address</td>
                    </tr>
                    <tr>
                        <td colspan="1" style="padding:5px;font-weight:bold;" width="19%">Center Number</td>
                        <td colspan="3"><strong>@student.SemesterExamCenterDetail.CenterCode</strong></td>
                    </tr>
                    <tr>
                        <td colspan="1">Father's Name</td>
                        <td colspan="3">@student.FathersName.ToUpper()</td>
                    </tr>
                    <tr>
                        <td colspan="1">Course</td>
                        <td colspan="3" style="word-break: break-all">@student.CourseFullName</td>
                    </tr>
                    <tr>
                        <td colspan="1">Subjects allotted</td>
                        <td colspan="3" style="word-break: break-all;font-weight:bold;font-size:15PX;">
                            @{ int sno = 1;}
                            @Html.Raw(string.Join("", student.StudentSubjects.Replace(" ,, ", "%").Split('%').Select(x => $"{sno++}) " + x + "<br/>")))
                        </td>
                    </tr>

                </table>
                <br /><br />
                <table class="ctable">
                    <tr>
                        <th style="width:30px;">S.No.</th>
                        <th style="width:200px;">Name of the Subject</th>
                        <th style="width:100px;" placeholder="dd-mm-yy">Date(dd-mm-yyyy) </th>
                        <th style="width:100px;">Answer Script Number</th>
                        <th style="width:100px;">Signature of student</th>
                    </tr>
                    @for (int i = 1; i <= 8; i++)
                    {
                        <tr>
                            <td>&nbsp;@i</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
                <br />
                <span class="pull-left ">Developed by I.T Cell</span>
                <p style="height:250px;"></p>
                <label>Signature of Assistant Superintendent</label>
                <label style="margin-left:30em;">Signature of Superintendent</label>
            </div>
            <p class="breakpagehere"></p>
        }
    }
    else
    {
        <div class="parentdiv" style="font-size:18px;">
            No Record Found , reasons could be:<br />
            <ol style="line-height:30px">
                <li>Student(s) has applied only for Skill Subjects. Center for such student(s) will be allocated by respective College(s)</li>
                <li>Exam RollNos not alloted yet.</li>
                <li>Centers not alloted yet</li>
                <li>Internal Awards not submitted yet</li>
            </ol>
        </div>
    }

    <div class="noneOnPrint" style="margin-left:-14px;height:40px;background-color:lightslategrey;width:100%;position:fixed;bottom:0;z-index:100;text-align:center;padding-top:10px">
        <a style="height: 32px;color:white" href="https://www.wikihow.com/Save-a-Web-Page-as-a-PDF-in-Google-Chrome" target="_blank"><b>See How to Save as PDF</b></a>&nbsp;&nbsp;&nbsp;
        <button style="height: 32px;" href="#" class="btn btn-theme" onclick="window.print();"><b>Download or Print</b></button>
    </div>

    <script src="@Url.Content("~/Content/ThemeAdmin/Content/Scripts/Libraries/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Content/ThemePublic/Libraries/disableBack.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Jspleasewait").css("display", "none");
            $("body").removeClass("IsPrintbody");
        });
    </script>
</body>
</html>