
@{
    ViewBag.Title = "CUS :: Subjects List";
    var ProgrammeID = ViewBag.Programme_Id ?? "";
    var CourseID = ViewBag.Course_Id ?? "";
    var Semester = ViewBag.Semester ?? "";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">Subject List</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Result Reports
            </h2>*@
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Subject
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Subjects
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>College</label><br />
                            <div class="form-group">
                                @Html.DropDownList("CollegeDDL", new SelectList(ViewBag.College, "Value", "Text"), "-- All Colleges --",
                                           new
                                           {
                                               @class = "form-control chosen-select jsCollegeDDL jsfilterelement",
                                               @data_column = "College_ID",
                                               @data_operator = "EqualTo",
                                               @data_tablealias = "S",
                                               @data_scope = "row1"
                                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Programme</label><br />
                            <div class="form-group jsDDLContainer   wd-200">
                                @Html.DropDownList("ProgrammeDDL", new SelectList(ViewBag.Programmes, "Value", "Text"), "-- All Programmes --",
                                           new
                                           {
                                               @class = "form-control chosen-select jsProgrammeDDL jsfilterelement",
                                               @data_defaulttextvalue = " -- All Programmes --,",
                                               @data_column = "Programme",
                                               @data_operator = "EqualTo",
                                               @data_tablealias = "S",
                                               @data_scope = "row1"
                                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="Subject/Department">Subject/Dept</label><br />
                            <input type="text" placeholder="subhect/depart" class="form-control jsfilterelement" data-column="DepartmentFullName" data-operator="Contains" data-scope="row1" />
                        </div>
                        <div class="form-group">
                            <label>Choose Course</label><br />
                            <div class="jsDDLContainer  wd-200">
                                @Html.DropDownList("Course", new SelectList(ViewBag.Courses, "Value", "Text", (short)CUSrinagar.Enums.Programme.UG), " -- All Courses --",
                                           new
                                           {
                                               @class = "form-control chosen-select jsCourseDDL jsfilterelement",
                                               @data_column = "Course_ID",
                                               @data_operator = "EqualTo",
                                               @data_tablealias = "ADMCourseMaster",
                                               @data_defaulttextvalue = " -- All Courses --,",
                                               @data_scope="row1"
                                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose Semester</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("SemesterDDL", new SelectList(ViewBag.Semesters, "Value", "Text"), "-- All Semesters --",
                                          new
                                          {
                                              @class = "form-control chosen-select jsSemesterDDL jsfilterelement",
                                              @data_column = "Semester",
                                              @data_operator = "EqualTo",
                                              @data_tablealias = "S",
                                              @data_scope = "row1"
                                          })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose Subject type</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("SubjectTypeDDL", new SelectList(ViewBag.SubjectTypes, "Value", "Text"), "-- All Subject types --",
                                          new
                                          {
                                              @class = "form-control chosen-select jsSubjectTypeDDL jsfilterelement",
                                              @data_column = "SubjectType",
                                              @data_operator = "EqualTo",
                                              @data_tablealias = "S",
                                              @data_scope = "row1"
                                          })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Status</label><br />
                            <div class="jsDDLContainer">
                                <select class="form-control chosen-select jsfilterelement" data-column="Status" data-operator="EqualTo" data-tablealias="S" data_scope="row1">
                                    <option value="">--All--</option>
                                    <option value="1">Active</option>
                                    <option value="0">In-Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Subject Title</label><br />
                            <input type="text" placeholder="Enter subject title" name="SubjectFullName" class="form-control jsfilterelement" data-column="SubjectFullName" data-operator="Contains" data-scope="row1" />
                        </div>
                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                                    Action
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-default dropdown-info">
                                    <li>
                                        <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("ListCSV","Subject",new { area="CUSrinagarAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                            Download Excel(CSV)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <label class="invisible">for styling purpose</label><br />
                            <a href="@Url.Action("CreateEdit", "Subject", new{area="CUSrinagarAdminPanel"})" target="_blank" class="btn btn-success btn-sm">Add New</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url=@Url.Action("SubjectList", "Subject", new { area = "CUSrinagarAdminPanel" }) data-DefaultOrderByColumn="SubjectFullName">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script src="@Url.Content("~/Scripts/JSSubject/Subject.js")"></script>

}





