
@{
    ViewBag.Title = "Examination Forms";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">Examination Forms List</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.UG">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Examination Forms
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <div class="form-inline">

                        <div class="col-sm-12 lbl bigger-120 no-padding-right">
                            Columns
                            <div class="jsDDLContainer" style="max-height:15px">
                                @Html.DropDownList("Columns", new SelectList(ViewBag.Columns, "Value", "Text"), new
                                {
                                    @multiple = "",
                                    @class = "chosen-select multiselect form-control jsfilterelement jsProgrammeDDL",
                                    @data_column = "Columns",
                                    @data_operator = "EqualTo",
                                    @data_scope = "row1"
                                    })
                            </div>
                            <br />
                        </div>
                        <div class="col-sm-1 lbl bigger-120 no-padding-right">
                            Programme
                            <div class="jsDDLContainer">
                                @Html.DropDownList("Programme", new SelectList(ViewBag.ProgrammeDDLList, "Value", "Text"),
                                  new { @class = "chosen-select form-control jsfilterelement jsProgrammeDDL", @data_column = "Programme", @data_operator = "EqualTo", data_ddltype = "Course", @data_ddlchildtype = "Semester", @data_ddlsubchildtype = "", @data_scope = "row1" })
                            </div>
                        </div>
                        <div class="col-sm-2 lbl bigger-120 no-padding-right">
                            Course
                            <div class="jsDDLContainer">
                                @Html.DropDownList("Course_ID", new SelectList(ViewBag.CourseDDLList, "Value", "Text"),
                                       "--Select--", new { @class = "chosen-select form-control jsfilterelement jsCourseDDL", @data_TableAlias = "ADMCourseMaster", @data_column = "Course_ID", @data_operator = "EqualTo", data_ddltype = "Semester", @data_defaulttextvalue = " choose course,", @data_scope = "row1" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Exam Year</label><br />
                            <div class="jsDDLContainer">
                                <select class="jsfilterelement form-control" data-TableAlias="ExaminationForms" data-column="Year" data-operator="EqualTo" id="BatchDDL">
                                    <option value="" selected="selected">-- All --</option>
                                    @for (int batch = 2017; batch <= DateTime.Now.Year; batch++)
                                    {
                                        <option value="@batch">@batch</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Batch</label><br />
                            <div class="jsDDLContainer">
                                <select class="jsfilterelement form-control" data-column="SemesterBatch" data-operator="EqualTo" id="BatchDDL">
                                    <option value="" selected="selected">-- All --</option>
                                    @for (int batch = 2017; batch <= DateTime.Now.Year; batch++)
                                    {
                                        <option value="@batch">@batch</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Semester</label><br />
                            <div class="">
                                <select class="jsfilterelement form-control" data-column="Semester" data-TableAlias="ExaminationForms" data-operator="EqualTo" id="SemesterDDL">
                                    <option value="" selected="selected">-- All --</option>
                                    <option value="1">Semester-I</option>
                                    <option value="2">Semester-II</option>
                                    <option value="3">Semester-III</option>
                                    <option value="4">Semester-IV</option>
                                    <option value="5">Semester-V</option>
                                    <option value="6">Semester-VI</option>
                                    <option value="7">Semester-VII</option>
                                    <option value="8">Semester-VIII</option>
                                    <option value="9">Semester-IX</option>
                                    <option value="10">Semester-X</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Form Type</label><br />
                            <div class="">
                                <select class="jsfilterelement form-control" data-TableAlias="ExaminationForms" data-column="IsRegular" data-operator="EqualTo" id="SemesterDDL">
                                    <option value="" selected="selected">-- All --</option>
                                    <option value="True">Regular</option>
                                    <option value="False">Backlog</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Form Status</label><br />
                            <div class="">
                                <select class="jsfilterelement form-control" data-column="Status" data-operator="EqualTo" data-TableAlias="ExaminationForms" id="StatusDDL">
                                    <option value="" selected="selected">-- All --</option>
                                    <option value="4">Fee Paid</option>
                                    <option value="1">Unpaid</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Registration No</label><br />
                            <div class="">
                                <input class="jsfilterelement form-control" data-column="CUSRegistrationNo" data-operator="EqualTo" id="RegistrationNo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-sm btn-primary fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>

                        <ul class="dropdown-menu dropdown-default dropdown-info">
                            <li>
                                <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("CSV","ExaminationWhiteList",new { area="CUSrinagarAdminPanel"})" data-otherparam1="printProgramme=@CUSrinagar.Enums.PrintProgramme.UG">
                                    Download Excel(CSV)
                                </a>
                            </li>
                        </ul>

                        <hr />

                        <div class="js-table-content" data-url=@Url.Action("ExaminationFormsList", "ExamFormSetting", new { area = "CUSrinagarAdminPanel" }) data-DefaultOrderByColumn="FormNumber">

                        </div>


                    </div>
                </div>
            </div>


            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>

